[2017-10-19 20:49] ValentineRain commented on #89
A note for @adavila17 ; the background space at the bottom is not clipped to that space. It's filling the entire canvas, most of which is blocked.

[2017-10-19 20:59] ValentineRain commented on #115
No issues in testing. I'm going to share it with the client and will make visible/close the topic if they like it. But I do think we should return to this in the future.

[2017-10-19 21:03] ValentineRain commented on #115
Uh, actually, @adavila17 I'll have to ask you to add the preview image, since this is a non-standard sized template. I'm afraid that if I add the preview image, I'll overwrite your size hack. Don't know how it works!

[2017-10-19 21:38] adavila17 commented on #115
added

[2017-10-19 21:38] #115 closed

[2017-10-19 21:43] adavila17 commented on #89
fixed on admin side should be good to go after that stat bar is fixed and merge is complete.

[2017-10-20 11:50] adavila17 commented on #114
did the background tested works and closing.

[2017-10-20 11:50] #114 closed

[2017-10-20 12:49] adavila17 commented on #86
2nd design done:

![ss_baseball_finalshot8](https://user-images.githubusercontent.com/26416133/31821578-97fcf84c-b573-11e7-8f11-5c8a1e0b5beb.jpg)

[2017-10-20 13:24] kelvin-im commented on #104
Starting dynamic work on this and square template #103.

[2017-10-20 13:24] kelvin-im commented on #103
Starting dynamic work on this and rectangular template #104.

[2017-10-20 15:03] Aubron commented on #113
Establish a list of stat possibilities.
Push forward ETA Mid-December release

[2017-10-20 15:03] Aubron commented on #113
Wanted to put this on your plate. Saw this photo and had a moment of inspiration. The items I like the most are the buttons for position, high school, height, and weight, as well as the state.

Could something be built where perhaps there’s a variable field for the position/sport categories (for example, different graphic for different positions and different graphic for different sports) and an o

[2017-10-20 15:10] Aubron commented on #107
@ValentineRain to reach out to client about existing quote scoreshots.

[2017-10-20 15:12] Aubron commented on #95
teen titans go

[2017-10-20 15:13] Aubron commented on #86
Go go power rangers.

[2017-10-20 15:16] Aubron commented on #69
Pitching stats dropdown (dynamic) to remove opposing team stats. Otherwise, ready to go and XML integrate.

[2017-10-20 15:19] Aubron commented on #72
Moving to engine, maybe adjust text skew?, add to multiple sports.

[2017-10-20 15:48] adavila17 commented on #112
@ValentineRain test the last one you see temp ID: 706

[2017-10-20 17:26] ValentineRain commented on #112
Just two notes. One, there is an extra box in the palette step which appears to be coloring for the logo background...except there's already one of those. It's on top of the logo layer, too. I think it might be an extra layer that needs to be deleted. It's defaulting to 100% transparent.

![photo](https://user-images.githubusercontent.com/26412274/31833937-309dbe12-b59a-11e7-9c77-b1ed7d0298f4.png)

[2017-10-20 17:33] ValentineRain opened #116 ""Trending Up" Template."
### Requested by:
Internal, Rick Perko

## Template Description:

What do you all think about a "Trending Up" template that would be for teams rising higher in rankings, moving up spots in the conference standings or maybe even winning 3+ games in a row?
Let's discuss during SS weekly tamale.
Comments welcome.

## Dynamic Considerations:
N/A Currently

[2017-10-20 19:15] kelvin-im commented on #103
Dynamicized. Used same PR for both square and rectangular templates. Ready for review @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/364

[2017-10-20 19:15] kelvin-im commented on #104
Dynamicized. Used same PR for both square and rectangular templates. Ready for review @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/364

[2017-10-20 19:33] kelvin-im commented on #89
Should be fixed now. The graph code was comparing the numbers as strings/words. Give it another go @ValentineRain, same PR as before.

[2017-10-23 15:22] marissab1 commented on #107
I talked to Lynn, she said she didn't specifically need a racing QuoteShot.

[2017-10-23 15:23] ValentineRain commented on #107
Thanks @marissab1 ! I'm closing this for the time being.

[2017-10-23 15:23] #107 closed

[2017-10-24 16:12] ValentineRain opened #117 "Ice Hockey StatShot, XML-Driven"
### Requested by:
Internal, Rick Perko

## Template Description:

@adavila17 or @BillPate to create design. Should contain the fields below, though Rick specifies you should "feel free to modify if you have a good reason".

No specs outside this, sky's the limit.

## Dynamic Considerations:
Will track the following stats:

- Final Score
- Total Shots/Shots on Goal (pie chart)
- Shots on Goal/Saves

[2017-10-24 17:01] ValentineRain commented on #106
I'm going to go ahead and test this; technically no ID was provided to me, so it may not be _ready_, but I know enough of the back end to find it myself!

I'm going to give it a go and adjust it if I need to. Will report back.

[2017-10-24 17:42] ValentineRain commented on #106
Tested, it's deliverable. Even though it wasn't given to me officially, I feel confident about this. It's a simple template overall.

I added a preview image to it, can confirm it's in the engine. Passing it to @marissab1 to deliver and closing this thread.

[2017-10-24 17:42] #106 closed

[2017-10-24 17:42] ValentineRain commented on #105
I might need to tap someone tomorrow to build this one so we can push development along.

[2017-10-25 14:27] ValentineRain opened #118 "XML Integration for Basketball Statshot"
### Requested by:
Internal, Rick Perko
Due November 10th.

## Template Description:

This is an update to an existing template, 391, to accept XML files.

![391](https://user-images.githubusercontent.com/26412274/32004026-d620ce4c-b96e-11e7-8ee4-70f52d0e328c.jpg)

## Dynamic Considerations:

I mean this whole thing really is a dynamic consideration, isn't it?

## Additional Materials

[Here's a li

[2017-10-25 19:13] BillPate commented on #105
I have added the template to the engine @ValentineRain it is #707

[2017-10-25 19:28] ValentineRain commented on #105
Hi @BillPate ! Thanks for looking at this. If anything ends up being of about it, it's my fault; I can only roughly approximate Adam's workflow.

I just took a look at it within in the engine and it looks like a few objects are missing. Specifically, the black semi-transparent objects, and the box around the date. I definitely saw them when I was in there, so I'm sure you added them. Was there a s

[2017-10-26 14:25] Aubron commented on #45
@ValentineRain to test
@BillPate to regenerate preview image.

[2017-10-26 15:01] BillPate commented on #45
![aubron-alligators6](https://user-images.githubusercontent.com/31041645/32060559-0fd2d350-ba3d-11e7-88a6-ca96dfe5395d.jpg)

[2017-10-26 15:04] BillPate commented on #45
Updated per @Aubron and @ValentineRain requests

[2017-10-26 15:05] ValentineRain commented on #105
Thanks for fixing the objects, Aubron. Flagging this for development now.

This template should contain a dropdown for "Number of Races", with the minimum being 1 and the maximum 6. As the count is decreased, the lowest text and logo item on the list is hidden and the list is vertically recentered.

[2017-10-26 15:07] Aubron commented on #105
@kelvin-im - I know you're working google drive today, but can you take a break at some point to knock this out?

[2017-10-26 15:12] kelvin-im commented on #105
Cool, I'm on it.

[2017-10-26 16:00] kelvin-im commented on #105
Dynamicized. Ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/373

[2017-10-26 16:13] ValentineRain commented on #105
My hero

[2017-10-26 16:54] ValentineRain commented on #109
Works as intended!~

[2017-10-26 17:06] ValentineRain commented on #105
This is ready to be merged. When it has been, I'll go ahead and add a preview image.

Also, sorry I forgot to tell you, @BillPate , you can get a little bit better alignment by nudging using the arrow keys, which'll bump an object over by a pixel each time. It's something of an undocumented feature! It probably would have saved you a headache.

A few of the items have been realigned and @kelvin-im

[2017-10-26 19:15] ValentineRain commented on #109
(Will need a preview image after the merge by the way).

[2017-10-26 19:15] ValentineRain commented on #105
Made available to clients. Closing!

[2017-10-26 19:15] #105 closed

[2017-10-26 19:34] ValentineRain commented on #104
The only issue I see so far is that the topmost logo scales in weird ways when you change the count.
It seems to blow up for some reason. [Check it out](https://drive.google.com/a/imsports.com/file/d/0BwH5-fbQakiyV0ZzaktRU2l5T3M/view?usp=sharing).

To reproduce, set some logos, change the count from 6>7, and then back.

[2017-10-26 19:39] ValentineRain commented on #103
Same issue described in #104 applies here!

[2017-10-26 19:56] ValentineRain commented on #45
Thanks for updating the preview.
After a brief review, this template does not seem to have gone through development yet. It is not ready for testing.

Here are the dynamic positioning behaviors we're looking for in this one (it's a little different!):

- First, there will be a dropdown for "Starting Month". Options will range from January to December; the user's selection will go in the Month 1 sp

[2017-10-26 20:11] ValentineRain commented on #89
Issue is resolved! This is good to go. @lisajohnson11 Lisa mentioned she thought this template was supposed to have two background image spaces? If that's true it's something we can adjust after a merge; @adavila17 is out this week anyway.

[2017-10-26 20:20] ValentineRain commented on #83
Unless I've goofed something, it looks like the card elements in the background are not properly hiding when the dropdown is adjusted. There aren't any console errors that I can see in the console.

[Video](https://drive.google.com/a/imsports.com/file/d/0BwH5-fbQakiyNm50ZnlESl9oZjQ/view?usp=sharing).

[2017-10-26 20:53] ValentineRain commented on #45
Hey, this just in from @adavila17 , who has a different idea on how the dynamic steps should be handled. It might be less complicated for the user; can someone in development weigh in on this?

He'd like to just provide an option for "Number of Months", rather than starting month, which will affect the number of rows. The actual "Month" text will be just regular text fields which the user can fill

[2017-10-26 20:53] ValentineRain commented on #45
Also @adavila17 stop doing work on your vacation, I will fire you.

[2017-10-26 21:01] BillPate commented on #45
Ok I apologize. I am confused as to what specifically I need to do to this..

Thanks

Bill

On Thu, Oct 26, 2017 at 4:53 PM, Val <notifications@github.com> wrote:

[2017-10-26 21:20] ValentineRain commented on #45
Oh, @BillPate , none of those things are for you. Sorry! This is flagged for development.
You did your bit!

[2017-10-27 14:19] ValentineRain opened #119 "Arkansas State, Minimalist Basketball FinalShot"
### Requested by:
Arkansas State, Mark Taylor

## Template Description:

Just emphasizing that this is not their design, so we do have to tweak it some (though I realize it's a little bare to begin with!)

## Dynamic Considerations:
None

## Additional Materials:

![unnamed](https://user-images.githubusercontent.com/26412274/32108556-133488a4-bb00-11e7-86b2-0dd70c08e6bc.jpg)

[2017-10-27 14:19] ValentineRain commented on #119
I've reached out them in return for a due date on this and pointed them toward what we already have in basketball just in case.

[2017-10-27 14:40] kelvin-im commented on #104
Found out what was going on. The scaling between the bounding box and image is different. Needed to use some extra code to get the correct scaling. Should be good for both templates. Give it another go @ValentineRain.

[2017-10-27 14:40] kelvin-im commented on #103
Found out what was going on. The scaling between the bounding box and image is different. Needed to use some extra code to get the correct scaling. Should be good for both templates. Give it another go @ValentineRain.

[2017-10-27 16:21] ValentineRain commented on #117
Due date Friday, November 17th.

[2017-10-27 16:21] ValentineRain commented on #118
Due Friday, November 10th.

[2017-10-27 16:23] ValentineRain opened #120 "2nd Basketball Statshot"
Stub, review this December 1st.

[2017-10-27 16:49] Aubron commented on #45
That's fine. It's not my favorite, but it will facilitate quick turnaround. Unfortunately there were be unused dropdowns, but that's not the end of the world. (set to 3 rows, the 4th row month number of games dropdown will still exist.

@kelvin-im - please tackle this once @ValentineRain gets you an updated spec.

[2017-10-27 17:10] ValentineRain commented on #104
@kelvin-im , really close on this one! The scaling is fixed for sure, but it looks like the first time you adjust the count, [it stretches the logo out to max width for that bounding box](https://drive.google.com/a/imsports.com/file/d/0BwH5-fbQakiyQzVPWXdYMkc5V0k/view?usp=sharing).

Again, this behavior is in both!

(Also fun fact, I just noticed that Adam named one of those logo spaces "Bounding

[2017-10-27 17:45] ValentineRain commented on #45
Thanks, if you're good with this solution I'll redraft dynamic specs.

6 Dropdowns Total
1st one is named "Number of Months", range is 1-5.  At "5", all five rows of Month text, Logos, numbers, and border objects are visible. At "4", the bottom row of objects is hidden, and the remaining rows are re-centered vertically. This repeats as the list continues.
2nd-6th dropdown menus are labeled "Number

[2017-10-27 19:38] kelvin-im commented on #83
@ValentineRain, I am currently working on the issues with the logos that aren't aligning properly to the card elements; however, the card elements is a full-background image, rather than 4 seperate boxes. I won't be able to add dynamic code for the full image.

[2017-10-29 19:11] ValentineRain commented on #83
I was worried that might be the case. We'll review it with @adavila17 when he returns, or might come up with a solution before that.

I don't see why we cant introduce separate elements for them but maybe there's some weird reason he did this.

[2017-10-30 13:50] kelvin-im commented on #83
I've jumped the gun a bit on that last comment last week. After looking in the Admin section, those cards _are_ separated, and was able to hide them properly. The only thing that is a full-image is the light gradients on the boxes.

The logos should now be properly aligned with it's background. Give it another go @ValentineRain when you get the chance. Sorry about that.

[2017-10-30 14:30] ValentineRain commented on #83
No problem! I'm having a little trouble visualizing it cause I'm dumb so I'll take another look this afternoon!

[2017-10-30 15:14] kelvin-im commented on #104
Alright, I've modified the scaling to keep consistency with images. It should prevent the stretching. Give it another go @ValentineRain, when you get the chance.

[2017-10-30 15:14] kelvin-im commented on #103
Alright, I've modified the scaling to keep consistency with images. It should prevent the stretching. Give it another go @ValentineRain, when you get the chance.

[2017-10-30 15:17] kelvin-im commented on #45
Starting work on this one.

[2017-10-31 14:25] kelvin-im commented on #45
Template should now have dynamic code. Ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/379

[2017-10-31 18:07] ValentineRain commented on #119
They're actually in need of this pretty soon and asked about it again already, so I'm flagging it for high prio for @adavila17 in the morning.

[2017-10-31 18:31] ValentineRain commented on #83
Everything beyond the gradient issue you mentioned looks great. Let's chat at some point today about what you need done in order to hide the gradients. Maybe it's something I can do!

Adjusting the prio on this one because the client is chomping at the bit to use it, hopefully by EOD if we can manage.

[2017-10-31 18:49] ValentineRain commented on #104
Perfect! This is ready to add. Flagging it for merge; we can close it after since there's already a preview image!

[2017-10-31 19:27] ValentineRain commented on #83
@kelvin-im , you nailed it on the latest revision! Thanks for hiding those gradients.
This is 100% my fault, but it looks like there's one behavior I should have caught earlier and missed. When you reduce the teamcount, the number of logo zones is not decreasing within the logo step.

The result is that by double clicking from the media manager, you end up adding additional logos to spaces which s

[2017-10-31 19:28] ValentineRain commented on #83
Sorry, I hit the close button by mistake. Convenient, considering.

[2017-10-31 19:41] ValentineRain opened #121 "Team-Neutral Variant of the Panda Bear Template"
![695](https://user-images.githubusercontent.com/26412274/32245288-ac27093e-be51-11e7-897c-fc8c71f3bb02.jpg)

### Requested by:
MAAC, Rob DeVita

## Template Description:

![wsoc matchup](https://user-images.githubusercontent.com/26412274/32245115-1c89ee9a-be51-11e7-8cb8-9352888ccbda.png)

This is template 695, in Football. This can be our first attempt to provide some options specifically for con

[2017-10-31 20:00] kelvin-im commented on #83
Alright, the dropzones should now be hidden as well. Give it another test @ValentineRain.

[2017-10-31 20:15] ValentineRain commented on #83
Perfect! Flagging this for a priority merge.
Thanks so much for your patience on this one, Kelvin! I know there was a lot of back and forth.

[2017-10-31 20:37] rocksprings commented on #121
Good on you, Mate.

[2017-10-31 20:44] ValentineRain commented on #121
Thanks for reminding me to link this on Zendesk.

[2017-11-01 11:35] adavila17 commented on #89
No. "Media Relations" category has two images for the top "Soccer" category only has one.

[2017-11-01 11:40] adavila17 commented on #112
The stroke on top of the logo background is doing this even though the fill is set to 0 it shows up.

[2017-11-01 11:41] adavila17 commented on #119
I got it. It's on my agenda for today.

[2017-11-01 12:28] adavila17 commented on #83
sooooo......... we need the overlays on this. It could have waited. I will be adding in a moment.

[2017-11-01 12:30] adavila17 commented on #83
@kelvin-im  they will be labeled pitcher overlay 1-4 hide/show as needed.

[2017-11-01 13:31] kelvin-im commented on #118
I'll work on this.

[2017-11-01 15:30] adavila17 commented on #121
![ss_matchup_previewshot](https://user-images.githubusercontent.com/26416133/32282475-04d34844-bef8-11e7-9646-cb5ca4930ac4.jpg)

[2017-11-01 15:59] adavila17 commented on #119
![ss_basketball_finalshot](https://user-images.githubusercontent.com/26416133/32283905-09bc4a5a-befc-11e7-88b5-834b9d72166d.jpg)

[2017-11-01 16:00] ValentineRain commented on #119
Looks good! And great turnaround.
Let me send this their way and make sure it jives with them.

[2017-11-01 16:03] adavila17 commented on #119
well I made a change last minute but oh well.

![ss_basketball_finalshot](https://user-images.githubusercontent.com/26416133/32284131-9b848f4c-befc-11e7-9e2b-0c67419a982e.jpg)

[2017-11-01 16:10] kelvin-im commented on #83
Done. Ready for review/testing.

PR: https://github.com/Aubron/scoreshots/pull/381

[2017-11-01 16:26] ValentineRain commented on #119
Well, actually, what you said might relate to their feedback. Can you review this and make sure it satisfies what he's asking for?

[2017-11-01 16:45] ValentineRain commented on #119
Sent it to him because I do think its what he wants.

[2017-11-01 16:50] ValentineRain commented on #119
His response was this.

I'm afraid I don't understand what that means. Ideas?

[2017-11-01 16:56] kelvin-im commented on #118
This template has XML integration. Ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/382

[2017-11-01 17:22] adavila17 opened #122 "Anotha one. Matchday template"
Because we have people that want more and complain.

![ss_soccer_matchdayshot](https://user-images.githubusercontent.com/26416133/32287580-ad6a9002-bf07-11e7-84be-a059f18836c6.jpg)

[2017-11-01 18:03] adavila17 commented on #117
I'm on it.

[2017-11-02 13:49] adavila17 opened #123 "PreviewShot concept"
Just another idea for a template.

![ss_baseball_previewshot9](https://user-images.githubusercontent.com/26416133/32329327-1e4156f2-bfb3-11e7-9e3a-95f859f87756.jpg)

[2017-11-02 14:28] adavila17 commented on #119
I think I know what they want. Let me re-engineer the template. Uno segundo.

[2017-11-02 14:40] adavila17 commented on #119
Let's try this. It has the inline aspect I think they are looking for?

![ss_basketball_finalshotv2](https://user-images.githubusercontent.com/26416133/32331798-3791a074-bfba-11e7-97da-37312355920c.jpg)

[2017-11-02 15:00] adavila17 commented on #103
So this was merged? If so no preview image should be needed just a close on the task.

[2017-11-02 15:15] ValentineRain commented on #103
No merge yet! It's on the list though.

[2017-11-02 18:04] adavila17 commented on #95
Ready for testing Temp ID: 709

[2017-11-02 19:32] adavila17 commented on #116
Well, it's a thing.

![ss_football_trendingshot](https://user-images.githubusercontent.com/26416133/32346207-f8497a80-bfe2-11e7-930d-054deb060fa8.jpg)

[2017-11-02 19:42] ValentineRain commented on #116
Hey, this looks really good.

How exactly are you going to get that strike-out effect? Is it just an object on top of a logo space? Or a text item? This will determine whether clients can move them.

[2017-11-03 12:01] adavila17 commented on #116
Kelvin's tears. Idk I may switch to what each score was but that gets busy AF. Would like a strike through.......  only when logos are loaded into that space. Also, would need to be dynamic because a team could with 12 games in a row or more.

[2017-11-03 13:53] adavila17 commented on #117
work in progress in case needed for ss weekly

![ss_hockey_statshot](https://user-images.githubusercontent.com/26416133/32377009-cc2dbed0-c07c-11e7-8e07-9679460be1c3.jpg)

[2017-11-03 16:41] adavila17 commented on #117
![ss_hockey_statshotv1](https://user-images.githubusercontent.com/26416133/32385368-44fad3d6-c094-11e7-9536-4fd4c6f3736d.jpg)

[2017-11-03 17:35] adavila17 commented on #117
Better overlay

![ss_hockey_statshotv2](https://user-images.githubusercontent.com/26416133/32387766-e70b2f98-c09b-11e7-94ce-213759bf8c53.jpg)

[2017-11-03 19:09] adavila17 commented on #119
@ValentineRain  test temp ID: 710

[2017-11-03 20:15] ValentineRain commented on #119
It works, I'm adding a preview image. Keep an eye out if they ask for corrections while I'm away! Closing for now.

[2017-11-03 20:15] #119 closed

[2017-11-06 16:14] adavila17 commented on #117
@kelvin-im @ericmoore1 - DUE DATE Wednesday 11/8

Make Dynamic & XML ready Template ID: 711

SHOTS ON GOAL BARS: should be comparative highest number equals full bar. Leave middle bar with dots alone those are for shots per period each dot represents a period in hockey.

FACEOFF CIRCLE GRAPH: fills counterclockwise  you should only manipulate "your faceoff circle"
Faceoffs are to tally up to get t

[2017-11-06 16:17] adavila17 commented on #117
We need to be able to test on sometime Wednesday major demo the following day with the Hurricanes.

[2017-11-06 16:27] kelvin-im commented on #117
In progress.

[2017-11-06 16:34] ValentineRain commented on #95
Judging by your preview image, the boxes behind the date as well as each stat are supposed to be quite a bit darker, and more transparent.

![comp](https://user-images.githubusercontent.com/26412274/32452025-62fd34b0-c2e6-11e7-8079-35fb0e5032df.png)

[2017-11-06 16:37] ValentineRain commented on #95
I don't think this needs to be fixed, but just so we're all aware, there are a lot of cutouts the name text wont work for because it will be completely obscured no matter the placement.

![thingyu](https://user-images.githubusercontent.com/26412274/32452218-ec0ef77a-c2e6-11e7-88a6-49ab1c313bfe.png)

I guess the client can always add a new text layer on top of it.

[2017-11-06 16:40] ValentineRain commented on #95
Finally; that ScoreShots logo is even smaller than in the preview. It can't be read at normal resolutions.
Which is sort of a weird problem to have, but, yeah, bump that up?

[2017-11-06 16:59] ValentineRain commented on #83
Sorry for rushing it along, but we were given a deadline while you were away. It couldn't have waited!

This looks great, and I've only got one concern, which is that it looks like the overlay is a couple of pixels off on the bottom-right of each box. It leaves a gap, which becomes more noticeable the further down you go.

![konatachan](https://user-images.githubusercontent.com/26412274/32453253-b

[2017-11-06 17:22] ValentineRain commented on #45
Thanks @kelvin-im .

@adavila17 , if I could pretty please get you to take a run through here, create some custom rulers and re-align each of the text elements? They're all slightly out of either vertical or horizontal alignment. I also made a few edits here and there where I noticed things were out of place, but I just don't think I've got the eye for detail and you could do it much more efficien

[2017-11-06 17:39] adavila17 commented on #121
@ValentineRain, for now test I used our old method it seems to work I think the other 2 will have a greater need for the new BG polygon tool.

Temp ID: 712

[2017-11-06 17:43] ValentineRain commented on #118
This looks correct; I'm going to review it with Adam or Rick to make sure the stats make sense!

[2017-11-06 18:35] adavila17 opened #124 "FSU final/snapshot"
What client likes

![wvu_final](https://user-images.githubusercontent.com/26416133/32457487-4c88163a-c2f7-11e7-92ff-f3eda1ade34e.jpg)

[2017-11-06 18:36] adavila17 opened #125 "FSU Promotions"
What client likes

![wvu_promotions](https://user-images.githubusercontent.com/26416133/32457522-6cfd0f9c-c2f7-11e7-8f31-89a5d29316de.jpg)

[2017-11-06 18:54] adavila17 commented on #124
![fsu_basketball_finalshotv3](https://user-images.githubusercontent.com/26416133/32458316-0ef8d202-c2fa-11e7-997b-c5e3d2b242cb.jpg)

[2017-11-06 19:47] adavila17 commented on #125
![fsu_promotions](https://user-images.githubusercontent.com/26416133/32460619-5db3b414-c301-11e7-91f4-8ba2a03b9790.jpg)

[2017-11-06 20:13] ValentineRain commented on #121
This works! I'll go ahead and add a preview image. Thank you!

[2017-11-06 20:13] #121 closed

[2017-11-07 13:54] adavila17 commented on #125
Test Temp ID: 714

[2017-11-07 15:01] adavila17 commented on #116
in progress waiting background polygon tool to release at the moment

[2017-11-07 15:15] kelvin-im commented on #117
Template is now dynamic and XML driven. @adavila17, there is one change that was needed in the Admin side. There were duplicates of `opp faceoffs`, I've changed the first to `your faceoffs` to get the proper dynamic content.

After above change, it should be ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/386

[2017-11-07 15:19] kelvin-im commented on #124
I'll take a look.

[2017-11-07 15:50] adavila17 commented on #95
Fixed everything

[2017-11-07 16:00] kelvin-im commented on #124
Dynamicized. Ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/387

[2017-11-07 17:18] adavila17 commented on #69
Make Dynamic Temp ID: 716

Pitching can either be comparative with team 2 or comparative to itself. Highest number fills out 100% everything else is to be a fraction of that bar.

AT BAT area:
Circle graph only manipulate "ba circle team 1" and "obp circle team 1" they should fill in a clockwise manner.

[2017-11-07 17:19] adavila17 commented on #83
sounds like it's off with the dynamicism......

[2017-11-07 17:40] adavila17 commented on #113
Working on this.

[2017-11-07 19:58] adavila17 commented on #86
adding to engine.

[2017-11-07 21:19] ValentineRain commented on #125
I think the only things that need to be modified here are:

1. There should not be a background step (it doesn't do anything)
2. The "Season Tip Off" text of your preview image is defaulting to transparent with a colored stroke, rather than solid, which doesn't match your preview.

![duck](https://user-images.githubusercontent.com/26412274/32518357-4d96435e-c3d7-11e7-9ffc-4fb0b5ab1d1e.png)

No oth

[2017-11-07 21:21] adavila17 commented on #125
Yeah forgot the bg thing.
Can't help the text thing they have a version that does both outlines and/or fills for the text non issue on our end.

[2017-11-07 21:24] adavila17 commented on #125
preview add @lisajohnson11 inform client i suppose. I r closing

[2017-11-07 21:24] #125 closed

[2017-11-08 13:49] adavila17 commented on #86
This is ready for testing Temp ID: 717

[2017-11-08 15:01] adavila17 opened #126 "Social Banner Graphics"
Arizona Football Twitter banner:

https://pbs.twimg.com/profile_banners/873870092/1509921190/1500x500

[2017-11-08 15:38] ValentineRain opened #127 "A Bowling Template"
This is a stub.
Add details during template review.

[2017-11-08 16:08] kelvin-im commented on #83
@ValentineRain, I've slightly adjusted the positioning of the dynamic code for the 2nd and 3rd pitchers. Give it another go, when you get the chance. Same PR as above.

[2017-11-08 17:03] adavila17 commented on #45
I fixed the alignment issues this needs another dev pass for dynamicism.

[2017-11-08 17:22] adavila17 commented on #102
This is in another thread I think.

Assigned for testing: https://github.com/Aubron/scoreshots-templates/issues/124

![fsu_basketball_finalshotv3](https://user-images.githubusercontent.com/26416133/32563437-44bda9fe-c47f-11e7-81bf-2501f9fbd378.jpg)

closing this one.

[2017-11-08 17:22] #102 closed

[2017-11-08 17:22] adavila17 commented on #111
again new thread made for this one and was approved yesterday and closed.

therefore this gets closed too.

[2017-11-08 17:22] #111 closed

[2017-11-08 17:58] adavila17 commented on #117
@kelvin-im, can you reverse that the first faceoffs in the layer list refers to team 2/opponent and the 2nd "opp faceoffs" refers to your team.

[2017-11-08 18:03] adavila17 commented on #69
@kelvin-im @ericmoore1
Link: https://www.miniwebtool.com/on-base-percentage-calculator/

OBP = (H + BB + HBP) / (AB + BB + HBP + SF)

[2017-11-08 19:41] ValentineRain opened #128 "Ragin Cajuns, Basketball Final Score"
### Requested by:
Ragin Cajuns, Jeff Schneider
Public Use

## Template Description:

This is a final score template for Basketball. They do not own the original design, so we'll need to alter it a bit, but they like the general style of it. They also are not requesting this be specifically branded to them, so we can share it.

I'm a little concerned about the colored overlay; I'm not convinced thi

[2017-11-08 19:43] ValentineRain opened #129 "Ragin Cajuns, Halftime"
### Requested by:
Ragin Cajuns, Jeff Schneider
Public Use

## Template Description:

This is a halftime template for Basketball. They do not own the original design, so we'll need to alter it a bit, but they like the general style of it. They also are not requesting this be specifically branded to them, so we can share it.

His favorite part of this template is the blue-to-clear shift over the bac

[2017-11-08 19:47] ValentineRain opened #130 "Ragin Cajuns, Preview"
### Requested by:
Ragin Cajuns, Jeff Schneider
Public Use

## Template Description:

This is a preview template for Basketball. They do not own the original design, so we'll need to alter it a bit, but they like the general style of it. They also are not requesting this be specifically branded to them, so we can share it.

I don't see anything super worrying about this one, but the Cajuns will pro

[2017-11-08 19:56] kelvin-im commented on #45
Modified dynamics based on alignment. Give it another go, @ValentineRain. Same PR as before.

[2017-11-08 20:02] ValentineRain opened #131 "Ragin Cajuns, Branded Halftime"
### Requested by:
Ragin Cajuns, Jeff Schneider
Private Use

## Template Description:

This is a halftime score template, which they intend to use for multiple sports.
It should be branded to match the last Cajuns template we made for them. Jeff was very adamant that he liked the style of the bottom scoreboard. They don't own the original, though, so we will have to modify it a little.

The due dat

[2017-11-08 20:04] kelvin-im commented on #117
The above change was made. Should be ready for review/testing @ValentineRain, when you have the chance.

[2017-11-08 20:05] ValentineRain opened #132 "Ragin Cajuns, Branded Schedule"
### Requested by:
Ragin Cajuns, Jeff Schneider
Private

## Template Description:

This is a scheduling template. They don't own the original, so it'll need to be tweaked; specifically, to match the previous Cajun templates we produced.

I think there's an opportunity here to do something interesting with the Home/Away key at the bottom. You've got room to experiment since this isn't theirs to begi

[2017-11-08 20:12] ValentineRain opened #133 "Multi-Player Awards Template"
### Requested by:
ECAC, Ed Krajewski
Public Use

## Template Description:

The ECAC would like a new take on the multi-player awards templates we produced a while back. No specifics were given, so you can set your imagination free on this one! In order to future proof it, let's aim for something we can scale from 1-6 players. That way we're not asked to produce 5 more variants.

I should stress th

[2017-11-08 20:13] adavila17 commented on #113
progress....

![ss_mediarelations_signingdayshot](https://user-images.githubusercontent.com/26416133/32572011-523f70d6-c497-11e7-8454-5bbaa098e72c.jpg)

[2017-11-08 20:21] adavila17 commented on #113
![ss_mediarelations_signingdayshotv2](https://user-images.githubusercontent.com/26416133/32572446-8eabae08-c498-11e7-8da4-ceac6355703b.jpg)

[2017-11-08 20:48] ValentineRain opened #134 "Towson, Literally A Calendar"
### Requested by:
Towson University
Probably Public

## Template Description:

This is a scheduling template. It's actually in the shape of a calendar.
We do technically have the ability to make templates of these dimensions now, so the last real barrier to making these is gone. There are some unique UI concerns that we'd have to address in order to tackle it, though.

In defense of the requester,

[2017-11-09 12:49] adavila17 commented on #134
WHHHHHHHYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY!

[2017-11-09 14:43] adavila17 commented on #131
![cajuns_basketball_snapshot](https://user-images.githubusercontent.com/26416133/32611023-7368463e-c532-11e7-8d98-c5fa767efb0a.jpg)

[2017-11-09 16:18] adavila17 commented on #128
blah...

![ss_basketball_finalshot11](https://user-images.githubusercontent.com/26416133/32616216-c47bdc68-c53f-11e7-99fd-cd491f70abf0.jpg)

[2017-11-09 18:11] adavila17 commented on #129
So that's an @Aubron question for gradients in templates because you can also see a gradient in the logo backgrounds. Cool but we no has tool.

I can fake it with a black mist looking overlay but it wouldn't be transparent.

[2017-11-09 18:56] ValentineRain commented on #124
Starting on this one.

[2017-11-09 19:02] adavila17 commented on #130
Again @Aubron only thing I can suggest is a 50/50 gray overlay that is available to the user to add colorize filter onto. Would show up as a png overlay to the client.

[2017-11-09 19:24] ValentineRain commented on #124
This one works!

[2017-11-09 19:25] ValentineRain commented on #124
It'll need a preview image after being merged.

[2017-11-09 19:33] ValentineRain commented on #95
Yep, this is good.

[2017-11-09 19:33] Aubron commented on #124
merrrrged

[2017-11-09 19:36] adavila17 commented on #124
thanks! preview added closing!

[2017-11-09 19:36] #124 closed

[2017-11-09 19:58] ValentineRain commented on #86
Yep, this one works well. You can add a preview image, but since there's apparently a second template to this, lets not close it yet til that ones' done.

Once the preview image is in @lisajohnson11 might want to notify the GAC.

[2017-11-09 20:09] lisajohnson11 commented on #86
Yup, just drop me a note when it's all done. Thank you!

[2017-11-09 20:39] ValentineRain commented on #83
Thanks for looking at it, Kelvin! I'm gonna have @adavila17 take a look at it again tomorrow, since there's still a gap. It might be something on his end.

If not, it's not a huge deal. :DD

[2017-11-09 20:46] ValentineRain commented on #118
Reviewed with both of them, looks like it's calculating everything correctly!
Thanks!

[2017-11-09 21:07] ValentineRain commented on #45
One issue I encountered; the logo spaces for hidden games are not being hidden. So you can set a given month to say, 4, then double click from the media manager and still add ten logos.

![not hidden logo](https://user-images.githubusercontent.com/26412274/32629703-135ee3a2-c568-11e7-94a1-b0b605d0f768.png)

On the bright side, they _are_ re-hidden if you change the total number of months!

[2017-11-10 12:51] adavila17 opened #135 "Basketball SS for video"
Make a SS.

Due date next week.

[2017-11-10 13:59] kelvin-im commented on #45
Alright, images should now be hidden along with it's corresponding row.

[2017-11-10 13:59] kelvin-im commented on #45
Give it another go @ValentineRain, when you get the chance. Same PR as before.

[2017-11-10 14:19] rocksprings commented on #135
Yes, but sooner the better since the hoops season has started.

[2017-11-10 14:28] adavila17 commented on #135
![ss_basketball_snapshot12](https://user-images.githubusercontent.com/26416133/32662731-8ac9c326-c5f9-11e7-8fcc-37d5b032f571.jpg)

[2017-11-10 14:30] rocksprings commented on #135
Please remove Adidas logo.

[2017-11-10 14:48] adavila17 commented on #135
![ss_basketball_snapshot12](https://user-images.githubusercontent.com/26416133/32663547-4a88c462-c5fc-11e7-87de-97007bb7513a.jpg)

[2017-11-10 15:46] ValentineRain commented on #127
To include turkeys 🦃 strikes and spares.

[2017-11-10 15:47] ValentineRain commented on #72
Add preview image, copy to media relations, then tell Val she's pretty.

[2017-11-10 16:16] ValentineRain commented on #135
Create this for category: ScoreShot.
It should have text for like "Dunk" or something.

[2017-11-10 16:19] ValentineRain commented on #128
Adam to update preview to signify which team is which somehow.
Then send to Jeff.

[2017-11-10 16:26] ValentineRain commented on #39
Tasking development to copy the dynamic positioning code from template 630 to template 435.  ❤️

[2017-11-10 16:37] ValentineRain commented on #134
@adavila17 should collect at least eight _different_ approaches to this design, and then flag development for @Aubron s review of what's possible.

@marissab1 to ask if client has any other examples, assure we are doing research to figure out the best method to approach.

[2017-11-10 17:32] adavila17 commented on #135
So my bad here is a "ScoreShot" template for Basketball.

![ss_basketball_scoreshot](https://user-images.githubusercontent.com/26416133/32670876-2df593ae-c613-11e7-9d16-5b63a1145f17.jpg)

[2017-11-10 17:40] adavila17 commented on #128
There @ValentineRain now leave me alone!

![ss_basketball_finalshot11](https://user-images.githubusercontent.com/26416133/32671151-60a4972c-c614-11e7-98d8-ab96090ec215.jpg)

[2017-11-10 18:29] adavila17 commented on #128
ready to test temp ID: 718

[2017-11-10 18:48] adavila17 opened #136 "Snapshot basketball"
This one was review earlier today nothing wrong with it was just the wrong template the RP wanted originally.

![ss_basketball_snapshot12](https://user-images.githubusercontent.com/26416133/32673600-ce43e432-c61d-11e7-9bb4-16574467e2f2.jpg)

[2017-11-10 18:48] adavila17 commented on #136
@val can you test before I leave at the very least trying to get this in the engine for basketball people tonight

[2017-11-10 18:50] adavila17 commented on #128
This is ready for Ragin peeps @ValentineRain just test today so people tonight can use. If they don't like it oh well.

[2017-11-10 18:53] adavila17 commented on #136
Temp ID: 719

[2017-11-10 18:56] adavila17 commented on #95
preview added closing

[2017-11-10 18:56] #95 closed

[2017-11-10 18:59] ValentineRain commented on #128
It also needs to be sent to them for approval; I mean if you've built it then at this point we can add it either way, but that's an important step.

[2017-11-10 19:02] ValentineRain commented on #136
The score text fields should be generic numbers; they're initializing as 44 and 40.
"Half" should probably also be "Period".

![thing](https://user-images.githubusercontent.com/26412274/32674077-b89e14a2-c61f-11e7-85db-41f2fa9e0f07.png)

[2017-11-10 19:04] ValentineRain commented on #136
Preview image can be added after that; this looks really good with video.

[2017-11-10 19:07] adavila17 commented on #83
Fixed.

[2017-11-10 19:08] adavila17 commented on #83
@kelvin-im  I increased the x value each overlay by .01 please make sure the 2 and 3 variants match up.

[2017-11-10 19:10] adavila17 commented on #83
![35p2ari](https://user-images.githubusercontent.com/26416133/32674373-ed2950d2-c620-11e7-8cf7-5c2face5aecf.png)

[2017-11-10 19:11] adavila17 commented on #136
It's half in Basketball.

[2017-11-10 19:12] adavila17 commented on #136
yeah fixing the other thing

[2017-11-10 19:16] rocksprings commented on #135
I don't totally love the scoreboard feature in lower right, I just sort of like it a lot.
Any other opinions on this?
Let's try to make sure it's in the engine by next Friday's Pistons demo.
Gracias.

[2017-11-10 19:17] ValentineRain commented on #136
Cool, thanks for checking me on that. I dunno sports words.

[2017-11-10 19:18] ValentineRain commented on #83
I'm gonna go ahead and test this again, there might not be any need to redo anything at this point.

[2017-11-10 19:20] adavila17 commented on #136
preview added

[2017-11-10 19:20] #136 closed

[2017-11-10 19:36] ValentineRain commented on #83
Actually I squinted at it for a while and I honestly can't tell anymore, Kelvin can take a look after all. Ignore me!

[2017-11-10 19:57] ValentineRain commented on #135
The "12:13 1st Half" will not be visible over any type of video without a solid background behind it.
Might be better to omit.

[2017-11-10 20:55] kelvin-im commented on #83
Was slightly off; I've went back and adjusted it. Seems fine on my end. Give it another test @ValentineRain, when you get the chance.

[2017-11-10 21:21] ValentineRain commented on #83
Perfect!

[2017-11-10 21:35] ValentineRain commented on #45
Hey, thanks, that issue is fixed!

It kills me to say this, but there's one more bug I just hit that needs to be fixed before we can release. It turns out that if you use the number of games dropdown before setting the number of months (as in, without touching the month dropdown), the number of displayed games will not update.

If you then change the number of months, everything updates to where i

[2017-11-13 13:25] marissab1 commented on #134
The response from John Brush from Towson: "Marissa, I don’t have any other examples. I am including a link to the web that has images of what baseball teams have done in the past with calendar schedules.

[http://bit.ly/2jmBT1S](url)

I know this is difficult with having so much information in a small space and different colors for home/away.  I really appreciate the work from your company with th

[2017-11-13 13:51] kelvin-im commented on #45
Alright, I've defaulted the number of rows to 5 if user hasn't selected a row yet. Should fix the above issue.  Give it another go @ValentineRain.

[2017-11-13 13:59] kelvin-im commented on #39
Copied. Ready for review/testing.

PR: https://github.com/Aubron/scoreshots/pull/398

[2017-11-13 13:59] adavila17 commented on #135
ready to test @ValentineRain Temp ID: 720

[2017-11-13 14:04] adavila17 commented on #134
@Aubron need me to pick 8 still or is the google image link suitable?

[2017-11-13 14:05] Aubron commented on #134
@adavila17 can you still pick out 8 examples you think are leading in the space?

[2017-11-13 14:10] adavila17 commented on #134
okie dokie!

8 chosen:

![bcu-baseball](https://user-images.githubusercontent.com/26416133/32729640-7b50b322-c852-11e7-8207-1fc51043909d.jpg)

![fsu-baseball](https://user-images.githubusercontent.com/26416133/32729641-7b5d001e-c852-11e7-91b3-db12df578f06.jpg)

![georgia-baseball](https://user-images.githubusercontent.com/26416133/32729642-7b6b5ccc-c852-11e7-8be5-393ef7a3b32a.jpg)

![nc-state-base

[2017-11-13 14:48] adavila17 commented on #133
![ss_mediarelations_playershotsv1](https://user-images.githubusercontent.com/26416133/32731436-c8c0c1a6-c857-11e7-9da4-2ed50cf07b40.jpg)

[2017-11-13 16:13] adavila17 commented on #130
@ValentineRain @Aubron

So I made a 50% gray smokey looking overlay and uploading it in the logo step and added a colorize filter to create what's uploaded below. If we can somehow when I am creating this template allow the client to see the overlay and made color changes that would make this template workable.

PNG overlay:
![smokey-overlay2](https://user-images.githubusercontent.com/26416133/327

[2017-11-13 16:24] ValentineRain commented on #130
I like this solution, but I can only speak theoretically since I don't know if this is actually possible.

[2017-11-13 16:48] ValentineRain commented on #128
Hey, lets go ahead and push forward on this. I haven't been given any feedback on it but I see no reason to stall, we can make edits later if something isn't right.

[2017-11-13 18:16] Aubron commented on #118
Merging!

[2017-11-13 18:17] Aubron commented on #83
Merging!

[2017-11-13 18:18] Aubron commented on #104
Merging!

[2017-11-13 18:18] Aubron commented on #103
Merging!

[2017-11-13 18:18] Aubron commented on #109
Merging!

[2017-11-13 18:19] Aubron commented on #89
Merging

[2017-11-13 19:52] adavila17 opened #137 "OKC Thunder Branded SS"
Here's what they do for gameday:

![doc34l4ueaa_yyu](https://user-images.githubusercontent.com/26416133/32745884-102decba-c882-11e7-93fd-7f3666f898b3.jpg)

Here's what we did:

![scoreshot_okcthunder_previewshot](https://user-images.githubusercontent.com/26416133/32745918-297fc6a2-c882-11e7-8de6-8505531db699.png)

@Aubron to move Template from our library into OKC Thunder Library

[2017-11-13 19:56] adavila17 commented on #137
This is in Jacksondonald's account labeled as: OKC Thunder PreviewShot 11.15

[2017-11-13 20:09] adavila17 commented on #104
works no preview needed template already is client viewable.

[2017-11-13 20:09] #104 closed

[2017-11-13 20:09] adavila17 commented on #103
works already viewable to client

[2017-11-13 20:09] #103 closed

[2017-11-13 20:11] adavila17 commented on #89
preview added

[2017-11-13 20:11] #89 closed

[2017-11-13 20:13] adavila17 opened #138 "OKC Branded FinalShot"

[2017-11-13 20:14] rocksprings commented on #137
Can you add the TV network please?

[2017-11-13 20:15] adavila17 commented on #86
preview added to temp id: 717

[2017-11-13 20:20] adavila17 commented on #137
![ss_okc_thunder_preivewshot](https://user-images.githubusercontent.com/26416133/32747260-34247a54-c886-11e7-9514-3afbb17a77cf.png)

[2017-11-13 20:21] adavila17 commented on #83
works was already available to clients

[2017-11-13 20:21] #83 closed

[2017-11-13 20:22] rocksprings commented on #137
I like this.
It can be created in the engine, right?

[2017-11-13 20:22] adavila17 commented on #118
already available to clients just added dynamic code

[2017-11-13 20:22] #118 closed

[2017-11-13 20:25] adavila17 commented on #137
Yup worked with Aubron to only apply a branded .png overlay and a player cutout to an existing SS as tasked/mentioned.

The .png overlay in the background can be colorized to their other colors as well. It can be white or one of the two blues they use.

[2017-11-13 20:31] ValentineRain commented on #45
Looks good! Let's ship this one.

[2017-11-13 20:31] adavila17 commented on #137
White:
![okc thunder white](https://user-images.githubusercontent.com/26416133/32747554-1d6fda28-c887-11e7-87c2-8e505ec4f463.png)

Blue 1:
![okc_thunder_lightblue](https://user-images.githubusercontent.com/26416133/32747628-5db26718-c887-11e7-87dc-caeb9a10da91.png)

Blue 2:
![okc_thunder_darkblue](https://user-images.githubusercontent.com/26416133/32747729-a96a7ca4-c887-11e7-9a5f-67db2c50d536.png)

[2017-11-13 20:35] adavila17 commented on #109
works already available to clients

[2017-11-13 20:35] #109 closed

[2017-11-13 20:41] adavila17 commented on #133
@ValentineRain don't forget to send off to ECAC guy for approval

[2017-11-13 20:42] adavila17 commented on #138
I will knock this out first thing in the AM 11.14

[2017-11-13 20:45] ValentineRain commented on #39
This one is good!

[2017-11-13 20:46] Aubron commented on #45
Merging.

[2017-11-13 21:18] ValentineRain commented on #135
Everything in this template is functioning. Can you add a preview image and we'll ship it?

[2017-11-13 21:29] ValentineRain commented on #128
Jeff approved this template this afternoon.

I've done some testing and it seems to work just fine. There's one behavior which is weird, but doesn't necessarily break anything. @adavila17 might be able to take a look at this.

Basically, every text element on the canvas behaves as if it had a stroke. The stroke is not displayed until you adjust the slider for it, but it's on by default. This strok

[2017-11-13 21:43] ValentineRain commented on #117
Starting on this now!

@adavila17 , it looks like the background space needs to be confined to the top of the ScoreShot, or else photos are impossible to position.

![top kek](https://user-images.githubusercontent.com/26412274/32750799-bf5cc80a-c891-11e7-95b7-fc5b4eb94802.png)

[2017-11-13 22:02] Aubron commented on #137
This is in the engine as template 721, part of the new category Oklahoma City Thunder. I have added this new category to their demo account.

[2017-11-13 22:03] Aubron commented on #137
PS @adavila17 - I figured out what was wrong with the dang thing. You deleted a lot of things with filters, and things that are 'deleted' in the client engine aren't anymore. They're hiding behind the scenes in case they need to be undone. This template loads super fast now.

[2017-11-13 22:11] ValentineRain commented on #117
The above screenshot also illustrates that the "Shots on Goal" numbers per period, as well as the final scores and audience, are not being calculated. According to Rick, each of those items is present in the XML file. If that turns out not to be the case, or you have any questions about it, ask, um, not me. I don't do hockey.

I'm going to break my own rule and tag this for a second thing.

[2017-11-13 22:18] ValentineRain commented on #117
Also I noticed it's missing a logo space for the social media icons!

[2017-11-13 22:28] adavila17 commented on #117
attendance was a manual input as noted in the meeting shots on goal per period should be somewhere in the xml. Let me dig.

[2017-11-13 22:30] adavila17 commented on #117
Also Kelvin's development side probably overwrote my side and checked the full image background box at the top of the admin creation.

[2017-11-13 22:30] adavila17 commented on #135
donzo preview added

[2017-11-13 22:34] adavila17 commented on #45
preview added but "Schedule Stats" needs to be changed to just "Schedule".

[2017-11-14 04:17] ValentineRain commented on #45
@adavila17 , could you clarify what that means? I don't see that text anywhere on the preview.

[2017-11-14 12:41] adavila17 commented on #128
Sounds like a dev thing. I did duplicate the "##" to keep the same shear angle because matching twice to 5 times is a pain. So that probably is what's happening but I set everything to 0 for stroke.

[2017-11-14 12:42] adavila17 commented on #128
I have added the preview but will leave this open in case we want dev or Aubron to patch something.

[2017-11-14 13:18] adavila17 commented on #131
ready to test Temp ID: 722

[2017-11-14 13:28] adavila17 commented on #45
Because it's not in the preview image issue it's a layer name issue.

[2017-11-14 14:45] adavila17 commented on #138
![ss_finalshot_okc_thunder](https://user-images.githubusercontent.com/26416133/32785872-87631e10-c920-11e7-89b8-e798a639ef9e.jpg)

[2017-11-14 14:52] rocksprings commented on #45
Yes, we do need to change "Schedule Stats" to "Schedule."

[2017-11-14 14:55] rocksprings commented on #138
We'll need to use Git to approve today unless we want to get together and discuss.
I am fine with this.
Other thoughts by 11am please. . .

[2017-11-14 15:10] Aubron commented on #138
Given that this isn't a real template, but just a modified one, I'm fine circumventing protocol for this one. I'm also fine with the template. Standing by to add it to the OKC Thunder category when we're ready.

[2017-11-14 15:15] kelvin-im commented on #45
@ValentineRain @adavila17, "Schedule Stats" has been changed to "Schedule" and has been updated on Dev side.

PR: https://github.com/Aubron/scoreshots/pull/400

[2017-11-14 15:17] Aubron commented on #45
Schedule Stats change to Schedule has been merged, deployed to live. I think that's it?

[2017-11-14 15:19] ValentineRain commented on #45
Yep, just double checked, everything still works.
I'm closing this task, hallelujah, and will be making another, separate thread to task copying this to Media Relations. I remember this being said verbally outside of a meeting at some point, and I'd like to preempt any further confusion on this template.

[2017-11-14 15:19] #45 closed

[2017-11-14 15:27] rocksprings commented on #138
Let's add. . .

[2017-11-14 15:31] ValentineRain commented on #138
Doesn't hurt my feelings 👍

[2017-11-14 15:36] Aubron commented on #138
This has been added to the engine, under the OKC category.

[2017-11-14 15:49] adavila17 commented on #138
You don't have feelers 🐜 @ValentineRain

[2017-11-14 15:50] Aubron commented on #135
Reopening this issue, and reverting to review needed. Continued target date of Friday.

[2017-11-14 16:59] ValentineRain commented on #117
We fixed the background image part!
Disregarding the audience count, then all that leaves is the final scores space, and the shots-on-goal-per-period. I took a look at it with @adavila17 , and it looks like that should all be in the file.

[2017-11-14 17:01] ValentineRain commented on #117
@adavila17 just came in here to mention that the second team's "shots on goal per period" stuff is wayyyy down in the file for some reason. So, just something to keep an eye out for! :buttshrug:

[2017-11-14 17:07] ValentineRain commented on #128
Okay. I'm cool with it being released in this state. It's a really minor issue.

Dinging @Aubron to chime in whenever he has time on whether this is worth fixing. I'm actually kind of leaning toward _no_.

[2017-11-14 17:10] ValentineRain commented on #128
@adavila17 says he's also experiencing difficulty adding a preview image. It isn't showing up in the template list even when one has been added. He checked the category formatting and stuff to. I'm not familiar with the back end so I can't offer any advice on that one.

[2017-11-14 17:59] ValentineRain commented on #131
Jeff would like to begin using this immediately. I took a look at it and I don't see any issues! Let's add a preview image and send it his way.

[2017-11-14 18:52] adavila17 commented on #117
Look for:
shotline="##,##,##" first number indicates period 1 second number perioid 2 third period 3 please note there can be overtime/an additional period.

[2017-11-14 19:20] kelvin-im commented on #117
Alright, the shots on goal, shots on goal by period, and final scores have all been revised on Dev side. Give it another test @ValentineRain @adavila17, when you have the chance. Same PR as above.

[2017-11-14 21:13] #131 closed

[2017-11-14 21:24] ValentineRain commented on #117
All issues are fixed! I see you found that attendance number, too, fancy that. ;P

[2017-11-14 21:51] rocksprings commented on #135
Trying to provide closure on this before weekly SS, if possible.

1. Please change the player's name to something not recognizable.
2. Make the scoreboard in the horizontal way that we have for the football scoreshot.

Hopefully, that will work and get this pushed ahead.
Thanks.
Rick

[2017-11-14 22:01] #137 closed

[2017-11-14 22:02] #138 closed

[2017-11-14 22:07] Aubron commented on #135
Per Basecamp, this template is targeted for EoD Thursday.

[2017-11-14 22:10] rocksprings commented on #135
As long as we have one preview image that looks like the attached, then I am fine (but it must have the corrections).
![basketball preview image](https://user-images.githubusercontent.com/26558545/32807702-c195b05a-c95e-11e7-9712-265c25b1c679.JPG)

[2017-11-14 22:13] Aubron commented on #135
...
......

Okay. So. When you say 'looks like the attached'. do you mean it needs the name changed? or that we need to make a preview image out of a still of a video, instead of something made with the image engine? I think the one @adavila17 has with the filter is a far more compelling case for the template, especially considering that most of our posts are images, but I want to make sure we pus

[2017-11-14 22:14] Aubron commented on #135
You also say 'one preview image' as if we can add multiple preview images. That is not a feature. Looking for clarification.

[2017-11-14 23:29] Aubron commented on #117
Merged to live. @ValentineRain handling preview image.

[2017-11-14 23:53] adavila17 commented on #117
Looks like goaltending circle graphs need attention based off the orange screen grab. If what is being captured by the xml is correct we could have numbers of:

30/31 which is 30 saved shots/31 shots on goal and the number inside the graph would be .968 giving a much fuller circle.

other side would be:
23/28 which is 23 saved shots/28 shots on goal and the number inside the graph would be .821

[2017-11-15 12:36] adavila17 commented on #135
![ss_basketball_scoreshot](https://user-images.githubusercontent.com/26416133/32836403-aa17dff6-c9d7-11e7-81a9-93d6686e95ac.jpg)

[2017-11-15 12:59] adavila17 commented on #86
Dis is ready to test Temp ID: 725

![ss_baseball_finalshot13](https://user-images.githubusercontent.com/26416133/32837277-e092a1d0-c9da-11e7-9432-81060bf511f0.jpg)

[2017-11-15 13:03] rocksprings commented on #135
Reposting comments from above:
Trying to provide closure on this before weekly SS, if possible.

Please change the player's name to something not recognizable.
Make the scoreboard in the horizontal way that we have for the football scoreshot.
Hopefully, that will work and get this pushed ahead.

Thanks.
Rick

[2017-11-15 13:24] adavila17 commented on #113
@kelvin-im @ericmoore1

Template ID: 724

This is ready for dev:

Dynamic elements include a drop down for stars labeled "Player Rating" with a list of 1-5. If 4 stars then there will be 4 stars filled out leaving the last one outlined. If 3 then there will be 3 filled out stars leaving the last two outlined. 5 filled stars will be our default.

Drop Down labeled "Home State" with a list of all th

[2017-11-15 14:08] adavila17 commented on #113
Here you go the states have been zipped.

[States.zip](https://github.com/Aubron/scoreshots-templates/files/1474963/States.zip)

[2017-11-15 14:16] adavila17 commented on #135
![ss_basketball_scoreshotv2](https://user-images.githubusercontent.com/26416133/32840324-50053406-c9e5-11e7-946a-57f6d20b4a24.jpg)

like the format two posts above better.

[2017-11-15 14:31] lisajohnson11 opened #139 "Madonna, XC Snapchat and IG"
Requested by:

Zach Shore
Available to everyone

Template Description:

![xc-snap-ig-postgame](https://user-images.githubusercontent.com/26416040/32802724-096757e0-c94f-11e7-9c26-b27ab574dcf8.png)

This is a post game template for cross country meets. It lists the overall score of the team and then individual places as well. They would like this size because they use this frequently for snapchat a

[2017-11-15 14:37] lisajohnson11 opened #140 "Madonna, XC Postgame"
Requested by:
Zach Shore
Available to everyone

Template Description:

XC Postgame Wide Template

This is a post game template for cross country meets. It lists the overall score of the team and then individual places as well.

They'd like it to be usable ASAP!

Dynamic Considerations:

I suppose this could be dynamic. For instance how many players you want to showcase.
![xc-postgame](https://user

[2017-11-15 14:39] lisajohnson11 commented on #139
They also need this for bowling.
![bowl-snap-ig-postgame](https://user-images.githubusercontent.com/26416040/32841611-ce661682-c9e8-11e7-93dd-27a600c6c825.png)

[2017-11-15 14:42] lisajohnson11 commented on #139
![golf-snap-ig-postgame](https://user-images.githubusercontent.com/26416040/32841765-38c8cd4e-c9e9-11e7-8b88-6e2cf7f0aa9d.png)

[2017-11-15 14:42] rocksprings commented on #135
I didn't see this above, but it's fine with me.
Was trying for football ScoreShot category scoreboard, but I should have included a screen shot from my snipping tool.
Let's get this into the engine and live by EOD tomorrow.
Thanks.

[2017-11-15 14:42] lisajohnson11 commented on #140
![bowl-postgame](https://user-images.githubusercontent.com/26416040/32841796-530e32e8-c9e9-11e7-9820-fcc360910f3f.png)

[2017-11-15 14:43] lisajohnson11 commented on #140
![player-golf-postgame](https://user-images.githubusercontent.com/26416040/32841825-6bc4e408-c9e9-11e7-8670-555379d9909c.png)

[2017-11-15 14:56] adavila17 commented on #135
In engine already changed to new approved format. @ValentineRain test temp ID: 720

[2017-11-15 15:07] kelvin-im commented on #117
Per offline discussion with Adam, I've modified the goaltending and penalty kill graphs to display based on the proper calculations. Ready for review/testing @ValentineRain and @adavila17.

[2017-11-15 15:09] lisajohnson11 opened #141 "Madonna, Player of the Week Snapchat and IG Story"
Requested by:

Zach Shore
Available to everyone

Template Description:

Player of the Week IG and Snapchat Story

This would be a player of the week shot which could be customizable to any sport.

I think this is the perfect opportunity to begin to add these size templates into the system. Snapchat and Instagram stories are becoming a HUGE deal.

They'd like it soon, but not super important.

Dyna

[2017-11-15 15:16] kelvin-im commented on #117
New PR: https://github.com/Aubron/scoreshots/pull/401

[2017-11-15 15:17] lisajohnson11 opened #142 "Madonna, Ranking Snapchat IG Story"
Requested by:

Zach Shore
Available to everyone

Template Description:

Rankings IG and Snapchat Story

This would be a portrait sized template that would display a ranking number. It could be customizable to any sport.
They'd like it soon, but not super important.

Dynamic Considerations:

I'm not sure if we could make the numbers dynamic or if they would need to be?
![ranking-storyimage](https:/

[2017-11-15 15:30] rocksprings commented on #135
We just gave a demo and it wasn't in the engine as a live template.
Just making sure we all are tracking.

[2017-11-15 15:30] ValentineRain commented on #117
@adavila17 and I reviewed this again! It's looking good. We'll merge it again and I'll close this once the preview image is added.

[2017-11-15 15:30] lisajohnson11 opened #143 "Madonna, Basketball FinalShot IG and Snap Story"
Requested by:

Zach Shore
Available to everyone

Template Description:

Basketball FinalShot IG and Snapchat Story

I feel like this FinalShot could also be customizable to any sport.

I think this is the perfect opportunity to begin to add these size templates into the system. Snapchat and Instagram stories are becoming a HUGE deal.

They'd like it soon, but not super important.

Dynamic Consider

[2017-11-15 15:37] adavila17 commented on #143
Soo.... they took our SS and made their own because that's a red flag immediately. Or is this a resize version of our SS.

[2017-11-15 15:38] lisajohnson11 commented on #143
Well @adavila17 if you read the whole description you would see where it says that they resized the template.

[2017-11-15 15:39] adavila17 commented on #143
Actually, our's failed to resize and they copied the design.

[2017-11-15 15:41] adavila17 commented on #143
![r0xuts4](https://user-images.githubusercontent.com/26416133/32844912-8814459c-c9f1-11e7-8b84-7a6413558c86.png)

fails pretty badly too

[2017-11-15 15:41] ValentineRain commented on #117
It's fixed, in the engine, and available! Thanks for your hard work, @kelvin-im and @adavila17 !

[2017-11-15 15:41] #117 closed

[2017-11-15 15:42] ValentineRain commented on #128
Thanks for fixing this @Aubron ! Can confirm it's in there and ready to go.

[2017-11-15 15:56] adavila17 commented on #129
![ss_basketball_snapshot13](https://user-images.githubusercontent.com/26416133/32845794-ab079714-c9f3-11e7-9fb9-0700326dd8a0.jpg)

[2017-11-15 16:26] adavila17 commented on #72
Test temp ID: 726

[2017-11-15 16:33] ValentineRain opened #144 "XML-Capable Basketball Variant of Football Snapshot"
![645](https://user-images.githubusercontent.com/26412274/32847650-99ca3826-c9f8-11e7-95ae-7162e717dea2.jpg)

## Requested by:

Jeff Schneider, Louisiana Ragin Cajuns
Public

## Template Description:

 I saw the basketball one you had and would prefer to use the football one modified for basketball if possible. Thanks

## Dynamic Considerations:

This template would need to accept XML files. Obvio

[2017-11-15 16:34] ValentineRain commented on #144
Rick has already approved of this so we'll move straight into design. We'll need to duplicate the template into Basketball and replace the stats with relevant ones.

[2017-11-15 16:36] ValentineRain commented on #134
@Aubron , what's the next step on this one?
I'm going to mark it for review just in case we don't reach a consensus.

[2017-11-15 16:38] ValentineRain opened #145 "Copy Template 694 to Media Relations"
## Requested by:

Internal, Rick Perko

## Template Description:

We already did this template so we'll just be copying it to Media Relations.

## Dynamic Considerations:

Same behavior found in 694.

## Additional Materials

![694](https://user-images.githubusercontent.com/26412274/32848055-89a3529c-c9f9-11e7-9180-81c714e4079d.jpg)

[2017-11-15 16:42] adavila17 commented on #128
yay preview shows up now.

[2017-11-15 16:43] adavila17 commented on #145
Even if we copy dynamic code needs to be placed in again.

[2017-11-15 16:45] adavila17 commented on #145
copied over.

@kelvin-im add dynamic code to template ID: 727

[2017-11-15 16:45] ValentineRain commented on #145
Yeah, I know! I'll reach out to development once the base template is in place.

[2017-11-15 16:45] ValentineRain commented on #145
Oh, or you could do it, that was fast. Thanks! 👍

[2017-11-15 16:50] kelvin-im commented on #145
Copied. Ready for review/testing @adavila17 @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/404

[2017-11-15 17:03] adavila17 opened #146 "Ice Hockey ScoreShot"
One that allows for nice video view.

[2017-11-15 18:19] Aubron commented on #128
"ready to go"

Labels.
Please.
Sounds like it's done, so actually, closing?

[2017-11-15 19:38] ValentineRain commented on #128
Yeah, I forgot to flag this for finalization. First time for everything.
It's good now. Closing.

[2017-11-15 19:38] #128 closed

[2017-11-15 20:07] ValentineRain commented on #145
Ready for merge.

[2017-11-15 20:10] adavila17 commented on #130
![ss_basketball_previewshot13](https://user-images.githubusercontent.com/26416133/32857794-12fd60a6-ca17-11e7-9f71-303ea6ee47eb.jpg)

[2017-11-15 20:52] ValentineRain commented on #135
Rick, it's in the engine _for testing_.
It has the "Testing Needed" flag.

Please let me handle it.

[2017-11-15 21:10] ValentineRain commented on #72
This one needs to have its background space confined to the left-hand side. It's currently fullscreen.

[2017-11-15 21:23] ValentineRain commented on #86
This one's good, too. Can you add a preview image for it? I actually don't know where this template is located.

[2017-11-15 21:33] ValentineRain commented on #135
Everything in this template functions and matches the new preview image.
I went ahead and made it visible. It's up now.

[2017-11-15 21:33] #135 closed

[2017-11-15 21:36] adavila17 commented on #86
preview added

[2017-11-15 21:37] adavila17 commented on #72
donzo

[2017-11-16 12:31] adavila17 commented on #144
blah blah blah

[2017-11-16 13:01] adavila17 commented on #144
Ready for dev team temp ID: 728

I am going to assume the XML is working for both men's and women's basketball. The only reason why I bring it up is that men's basketball goes by halves and women's by quarters.

[2017-11-16 13:02] adavila17 commented on #144
![slack-imgs](https://user-images.githubusercontent.com/26416133/32892506-6bdb892c-caa4-11e7-9f58-1e89855237fb.png)

[2017-11-16 13:02] adavila17 commented on #144
Making the preview image now.

[2017-11-16 13:21] adavila17 commented on #144
Preview image made:

![ss_basketball_snapshot14](https://user-images.githubusercontent.com/26416133/32893350-20d93d68-caa7-11e7-99c3-33b6a5f83b22.jpg)

[2017-11-16 15:12] kelvin-im commented on #144
I can work on this. @ValentineRain @adavila17 just to confirm; would the XML for both men's and women's be the same as the above file?

[2017-11-16 17:09] ValentineRain commented on #144
I am positive I am not qualified to answer that question. @adavila17 might know.

[2017-11-16 17:13] adavila17 commented on #144
This game has:

<lineprd prd="1" score="31"></lineprd>
<lineprd prd="2" score="37"></lineprd>

indicating a men's game. So the question is does a women's game give an additional two "lineprd prd=...." fields.

[2017-11-16 18:10] ValentineRain commented on #140
We're going to do a non-dynamic version of this first and we'll return to it later if we need to.

[2017-11-16 18:27] ValentineRain commented on #134
@marissab1 to send our examples to Towson, ask if anything appeals to them. Mention that this is a complex template which will take some development time, so we'll need a bit more time to determine the best way to push forward.

Ask for desired due date, what they absolutely have to have in it.

[2017-11-16 19:00] adavila17 commented on #130
@Aubron
Already in engine as template ID: 729 need to pull the template in the library of Jackson Donald and overwrite it so that it has the smokey overlay in the background step template is called "template with smoke".

[2017-11-16 19:57] kelvin-im commented on #144
Dynamics and XML integration has been added for the above XML template. I've used the totals for each team for the calculations. Ready for review/testing @ValentineRain @adavila17. Let me know if this will work for both above cases.

PR: https://github.com/Aubron/scoreshots/pull/408

[2017-11-16 20:11] kelvin-im commented on #113
I'll work on this one.

[2017-11-16 21:28] kelvin-im commented on #113
Dynamics for player ratings are in place. @adavila17, I needed to unlock the stroke and override properties in the Admin side to properly give those stars an outline. Still in progress, but wanted to let you know.

[2017-11-17 12:29] adavila17 commented on #113
10-4 have made the change on my end.

[2017-11-17 12:37] adavila17 commented on #144
I'm going to suspect we will want to ask for a women's basketball XML file preferably from the same person who supplied the men's variant.

[2017-11-17 13:39] adavila17 commented on #140
![ss_xcountry_finalshot_1024x576](https://user-images.githubusercontent.com/26416133/32949981-bfeb7350-cb72-11e7-87e2-6942078aa9d8.jpg)

[2017-11-17 13:57] marissab1 commented on #134
From John: "I would say I like the simplicity of the Ole Miss one.  Sometimes people try to put too much in with a baseball schedule and it is not needed with so many games.  I like the logo and date combo of the Rutgers schedule.

It will more than likely be too difficult to try and do a full calendar and I completely understand that.  I have been playing around with the one that is already creat

[2017-11-17 14:01] adavila17 commented on #140
@lisajohnson11 I have a real hard time liking what they sent I modified to at least a 97% approval rating by myself. I think we ship over to them and see how they like it...?

[2017-11-17 14:34] kelvin-im commented on #113
@adavila17, would it be possible to add a default state image for reference in the template? This way we would have the proper specs already in place when the state is swapped out.

[2017-11-17 17:18] lisajohnson11 commented on #140
@adavila17  I don't really think that's a good idea, but I'll do it if you're not going to make another one. Is that slanted line object one color?

I'll send it off right now.

[2017-11-17 17:18] adavila17 commented on #113
sure I can add the NC .png as a default.

[2017-11-17 17:21] adavila17 commented on #113
have added in.

[2017-11-17 18:08] kelvin-im commented on #113
Alright, home states are succesfully changed in the dynamic template. @Aubron, you may need to add images to the live server. I have the images stored in the "uploads/templatecomponents/States" folder. Ready for review/testing.

PR: https://github.com/Aubron/scoreshots/pull/411

[2017-11-17 18:11] adavila17 commented on #139
![ss_xcountry_finalshot_poster](https://user-images.githubusercontent.com/26416133/32962015-ce0761a8-cb98-11e7-8409-23f0084e78c5.jpg)

[2017-11-17 18:24] rocksprings commented on #135
It functioned very well during the demo this morning. Emoji.

[2017-11-20 14:50] adavila17 commented on #140
welllllll........ it's in the engine ready to test temp ID: 730

[2017-11-20 14:50] lisajohnson11 commented on #140
Our client's response....

[2017-11-20 14:55] adavila17 commented on #140
did that in engine with the text editor.

![5jv2pel](https://user-images.githubusercontent.com/26416133/33024390-f57bc58e-cdd8-11e7-9e05-410c1bc9d3c1.png)

[2017-11-20 15:49] lisajohnson11 commented on #140
I sent an email asking if the multi text color would suffice. Let you know as soon as I hear back.

[2017-11-20 16:04] lisajohnson11 commented on #140
The above is from Madonna.

[2017-11-20 16:31] adavila17 commented on #140
I'm just going to put what they want in a category to them and them alone.

[2017-11-20 16:34] lisajohnson11 commented on #140
I'm going to leave that up to you and @ValentineRain

[2017-11-20 16:39] adavila17 commented on #146
![ss_icehockey_finalshot2](https://user-images.githubusercontent.com/26416133/33029794-83302b8c-cde7-11e7-99cf-834ab0ff098d.jpg)

[2017-11-20 17:25] adavila17 commented on #146
![ss_icehockey_finalshot2 2](https://user-images.githubusercontent.com/26416133/33032013-eebd7cdc-cded-11e7-8f60-3241de0e549d.jpg)

[2017-11-20 18:33] ValentineRain opened #147 "Series Match-Up"
![pasted_image_at_2017_10_16_11_33_am](https://user-images.githubusercontent.com/26412274/33034602-5a8a4f3c-cdf6-11e7-8b10-67faa8ee3c8f.png)

## Requested by:

Internal, Rick Perko

## Template Description:

This was pulled from our last SS Weekly, basically.

## Dynamic Considerations:

Rick would like to make this scale from 2-4 games. In order to future proof it, I see no reason to exclude 1 ga

[2017-11-20 18:34] ValentineRain commented on #147
Skipping the review step for this since it was done at the weekly.

[2017-11-20 18:40] ValentineRain opened #148 "Scoreboard Template"
![pasted_image_at_2017_10_16_11_38_am](https://user-images.githubusercontent.com/26412274/33035059-d76fa942-cdf7-11e7-86b6-775fb5a7b805.png)

## Requested by:

Internal, Rick Perko

## Template Description:

Was requested at the last SS weekly.

## Dynamic Considerations:

N/A

[2017-11-20 19:42] ValentineRain opened #149 "USA Baseball, "Twitter 20 List""
![ntistwitter-20list](https://user-images.githubusercontent.com/26412274/33037902-e77c3c34-ce00-11e7-9604-b8a5b08648c6.jpg)

## Requested by:

USA Baseball, Brad Young
Private

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

[Here's a link to their PDF file for this template.](https://drive.google.com/a/imsports.com/file/d/1cNVOdCNo6wA5ZKvC9sNMBfOdtC4XMXVO/view?

[2017-11-20 19:45] ValentineRain opened #150 "USA Baseball, "Twitter Logo Only""
![ntistwitter-logoonly](https://user-images.githubusercontent.com/26412274/33038040-5a9476e6-ce01-11e7-82f4-4a65f341d825.jpg)

## Requested by:

USA Baseball, Brad Young
Private

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

[Here's a link to their PDF file for this template.](https://drive.google.com/a/imsports.com/file/d/1cXwpaF3EN9bS_ZGU8MW18yEs9FuGsFzw/vie

[2017-11-20 19:46] ValentineRain opened #151 "USA Baseball, "Twitter Paragraph""
![ntistwitter-paragraph](https://user-images.githubusercontent.com/26412274/33038072-78f432a2-ce01-11e7-8b8f-be2e732f933f.jpg)

## Requested by:

USA Baseball, Brad Young
Private

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

[Here's a link to their PDF file for this template.](https://drive.google.com/a/imsports.com/file/d/1t560GGGxJJt0GXkwmeGhz4W8k2ZUbD7W/vi

[2017-11-20 19:47] ValentineRain opened #152 "USA Baseball, "Twitter Short Content 1-Line""
![ntistwitter-shortcontent-1line](https://user-images.githubusercontent.com/26412274/33038123-9f9a1980-ce01-11e7-8fd2-e4eab8c24e72.jpg)

## Requested by:

USA Baseball, Brad Young
Private

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

[Here's a link to their PDF file for this template.](https://drive.google.com/a/imsports.com/file/d/1yDBTmgGFuch6ZgXOaIUH3r62vG

[2017-11-20 19:48] ValentineRain opened #153 "USA Baseball, "Twitter Short Content 4-Line""
![ntistwitter-shortcontent-4line](https://user-images.githubusercontent.com/26412274/33038211-e13765c8-ce01-11e7-8ec7-1a3d6dd9b7ad.jpg)

## Requested by:

USA Baseball, Brad Young
Private

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

[Here's a link to their PDF file for this template.](https://drive.google.com/a/imsports.com/file/d/1ysqXV8tod7qaLOnCbIsm3Hk9Py

[2017-11-20 19:49] ValentineRain commented on #153
This is the last of the requests. Please let me know before EOD if any of these contain elements you think are troubling (I'm a little worried about the selective color overlay), and a date by which you think you could have them completed.

[2017-11-20 20:08] adavila17 commented on #140
![ss_xcountry_finalshot_1024x576_v2](https://user-images.githubusercontent.com/26416133/33039042-a56f681c-ce04-11e7-8245-babdc03d2233.jpg)

[2017-11-20 20:08] adavila17 commented on #140
@ValentineRain only time I'll ask for an emergency test other than tomorrow as well. Cause High Prio.

[2017-11-20 20:37] rocksprings commented on #147
If it's one game, then it's not a series--but I guess one game could still work.

[2017-11-20 20:37] ValentineRain commented on #147
I do get that, but the client won't be able to see that we referred to it as a "series" template within the engine. They'll just know they want to do a thing with it, that they can't.

[2017-11-20 20:40] rocksprings commented on #147
Yep, so let's push forward, including the one game.
The Dalmations vs. The Giraffes.

[2017-11-20 20:41] ValentineRain commented on #140
I'm of the opinion we should develop these to client specs. I have a feeling I'm going to be overruled on this one, though.

Unfortunately, I can't see which category this is going in when I test, or who it will be visible to, so I'm only looking at functionality. At any rate I'm testing it now.

[2017-11-20 20:44] ValentineRain commented on #140
I could be wrong, but shouldn't a template like this have its background confined to the space between these lines? Otherwise you cannot adjust to include the far left or right bounds of the image.

![bounds](https://user-images.githubusercontent.com/26412274/33040657-be1ac67c-ce09-11e7-8e29-831d930952e9.png)

[2017-11-20 20:49] ValentineRain commented on #140
Logo spaces 2 and 3 need to be in a higher layer, or they will be obscured by other template objects.

![logos](https://user-images.githubusercontent.com/26412274/33040769-164a158c-ce0a-11e7-880d-7ad8d3ddbbc4.png)

[2017-11-20 20:51] ValentineRain commented on #140
Just as a quick note for @lisajohnson11 , assuming this is the publically viewable version of this template, @adavila17 's solution for the clients stripes or whatever is pretty good. It's a layer in the palette step, so they can add in solid ones if they want with one click:

![solution](https://user-images.githubusercontent.com/26412274/33040946-aa37904e-ce0a-11e7-921b-fbb382794b69.png)

Do you

[2017-11-20 20:54] ValentineRain commented on #140
No other issues. I think I can fix at least one of these by myself, hold on.

[2017-11-20 21:01] ValentineRain commented on #140
Hey, so in today's episode of "Val Learns How to Use the Admin Panel", I fixed both the background image clipping (thanks Adam!) and also the logo/text overlap. I dragged the "Image 3" layer beneath the logo and text layers, but above everything else.

Preview image is added; @lisajohnson11 , you can contact your client and let them know it's in the X-Country category! Please point out the stripey

[2017-11-20 22:20] #140 closed

[2017-11-20 22:26] ValentineRain commented on #72
Works! Added a preview image, this one's done.

[2017-11-20 22:26] #72 closed

[2017-11-20 22:51] ValentineRain commented on #113
Two quick notes on this one; it generally looks very good.

However, if you change the "state" dropdown without changing the "stars" one from its default, the number of stars will drop from 5 to 0, even though 5 is the default. This is easily fixed on the part of the user, but it's inconvenient considering their reaching the "states" dropdown implies they have reviewed and are fine with the defaul

[2017-11-21 01:03] adavila17 commented on #149
maybe an hour..?

[2017-11-21 01:03] adavila17 commented on #150
5 mins.

[2017-11-21 01:04] adavila17 commented on #151
technically the same as another one just with a bigger text box. 30 mins or so.

[2017-11-21 01:04] adavila17 commented on #152
30 mins

[2017-11-21 01:05] adavila17 commented on #153
30 mins

[2017-11-21 13:06] adavila17 commented on #153
this is what we can do. That gradient mask, known as the Spotify filter in our engine, is being applied to a specific area and we can't do that. This is the absolute best I can do. Please see what they say.

![playershot out of engine](https://user-images.githubusercontent.com/26416133/33074044-c98bb6d6-ce92-11e7-82cd-d08c1aa17be7.png)

[2017-11-21 14:13] adavila17 commented on #129
@ValentineRain test temp ID: 733

[2017-11-21 14:21] adavila17 commented on #150
this is done Temp ID: 732

[2017-11-21 15:07] kelvin-im commented on #113
I've added a default player rating of 5 to the template. I've also scaled down NE and PR states as well. Give it another go @ValentineRain, when you have time.

[2017-11-21 15:19] ValentineRain commented on #153
Thanks @adavila17 ; I'm gonna send it their way and make sure they're okay with it. I think it looks pretty damn close.

[2017-11-21 15:38] adavila17 commented on #127
![ss_bowling_finalshot3](https://user-images.githubusercontent.com/26416133/33081316-109d97b4-cea8-11e7-9908-491681f0983f.jpg)

[2017-11-21 15:45] ValentineRain commented on #129
I sent this one to Jeff. I'm going to test it in the meantime.

[2017-11-21 15:50] ValentineRain commented on #129
Jeff likes it!

The center elements are defaulting to ScoreShots green; it might be intentional in this case but can you confirm?

![ss green](https://user-images.githubusercontent.com/26412274/33082034-cadd3336-cea9-11e7-90ab-f952bdb03dde.png)

[2017-11-21 15:53] ValentineRain commented on #129
I think the logos are on too high of a layer, too. They're not getting that neat little effect you gave them in the preview.

![ss green 2](https://user-images.githubusercontent.com/26412274/33082213-38f155aa-ceaa-11e7-85b4-be225cd0de44.png)

Everything else looks good!

[2017-11-21 16:07] ValentineRain commented on #150
Testing complete. Took maybe 45 seconds; this template has almost no elements.

[2017-11-21 16:15] ValentineRain commented on #150
I added the preview image, but let's leave this open. There's currently an issue adding this category to clients. Frankly, we might want to just make them a new category anyway, given its legacy status and old name. I can't be sure other clients don't have access to it, either.

[2017-11-21 16:15] adavila17 commented on #129
Fixed, try again. Do not pass go and definitely don't collect $200.

[2017-11-21 16:20] ValentineRain commented on #129
But I want 200$.

[2017-11-21 16:29] ValentineRain commented on #129
Yep, both issues are fixed. This is set.

[2017-11-21 17:05] adavila17 commented on #133
Ready for Dev Temp ID 734

Dropdown Labeled "Number of Players" List 2-6
If 2 players template dimensions should be 682 x 576
If 3 players template dimensions should be 1024 x 576
If 4 Players template dimensions should be 1365 x 576
If 5 players template dimensions should be 1706 x 576
If 6 players templates dimensions should be 2018 x 576

Let Val and I know if this is possible before tackling.

[2017-11-21 18:37] kelvin-im commented on #133
I'll take a look and see.

[2017-11-21 18:48] adavila17 commented on #134
Hey @marissab1, it sounds like he hasn't seen this one? If not then point him to basketball because this is a bigger schedule and the elements get bigger with fewer games.

![683](https://user-images.githubusercontent.com/26416133/33090613-819389f0-cec2-11e7-99fb-a8cf4f9cc765.jpg)

[2017-11-21 19:22] ValentineRain commented on #150
Made the category available to the client; Aubron confirmed they are currently the only ones with access.
Closing!

[2017-11-21 19:22] #150 closed

[2017-11-21 19:25] ValentineRain commented on #129
Preview image added, template is available.
Closing!~

[2017-11-21 19:25] #129 closed

[2017-11-21 19:37] marissab1 commented on #134
@adavila17  I will send it his way and let you know what he says.

[2017-11-21 19:41] kelvin-im commented on #133
I was able to properly resize the canvas based on above values. Had to write some slightly different methods to keep the objects properly sized. Ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/415

[2017-11-21 20:19] adavila17 commented on #132
Working in on this should be done tomorrow for client review.

![louisiana lafayette schedule](https://user-images.githubusercontent.com/26416133/33094773-42e76976-cecf-11e7-8a0c-53970e5b8170.jpg)

[2017-11-22 15:36] adavila17 commented on #132
@ValentineRain shoot this over to UL-Lafayette before I go any further just need first initial feedback. Also, ask for a high res coach photo or player photo all I had to work with for now.

![louisiana-lafayette-schedule-v5 2](https://user-images.githubusercontent.com/26416133/33135676-0a00cf56-cf71-11e7-8ec5-da599161ed21.jpg)

[2017-11-22 15:38] adavila17 commented on #132
Also, ask if this is one sport or possibly more.

[2017-11-22 16:49] adavila17 commented on #151
@ValentineRain done test temp ID: 735

[2017-11-22 16:55] ValentineRain commented on #144
@adavila17 , that's not a bad idea! For the time being though, I don't think the Ragin' Cajuns have requested that. I also don't have one of those on hand. I'm inclined to push this forward for now, and then make edits to it later when we get another XML file.

Insofar as functionality goes, this template works with the statcrew XML files we've been provided already. It can be merged!

[2017-11-22 16:57] adavila17 commented on #152
ready to test temp ID: 736

[2017-11-22 16:59] ValentineRain commented on #133
I confess I forgot to send this to Mr. Krajewski until this morning.
Sent it along just now; going to continue testing in the meantime.

[2017-11-22 17:06] adavila17 commented on #149
ready to test temp ID: 737

[2017-11-22 17:19] ValentineRain commented on #133
Hey, so this technically works, though there's some weirdness.

First, the "Number of Players" item is appearing before the background step. I understand why this is desirable; it'll change the canvas size. However, the template still defaults to the "Background" step and the user has no reason to suspect there would be an item before it. I actually spent about a minute looking for the additional,

[2017-11-22 17:22] ValentineRain commented on #69
Ah, I see why this thread has stalled.
There's a PR for this; [here it is.](https://github.com/Aubron/scoreshots/pull/390) I'll hop on it.

[2017-11-22 17:35] ValentineRain commented on #69
Upon review, it looks like the testing flag was added erroneously. By me? Huh. Weird.

Anyway, this doesn't appear to have a stat step or the ability to accept XML files. Returning to development. My bad!

[2017-11-22 17:45] ValentineRain commented on #149
Thanks for adjusting the text box color. I'm going to add a preview image to this and let them play with it to make sure it's okay. Leaving it open until I get some feedback from them.

[2017-11-22 17:48] ValentineRain commented on #149
So, after doing the thing, I've noticed that we probably need to generate new preview images for these since the text boxes are different now.

[2017-11-22 17:51] ValentineRain commented on #151
I had to adjust the layering of the logo space; it was appearing behind the gradient and white shine effect.
Everything works; I'm making it visible to the client so they have the thing. Will close when I get feedback.

[2017-11-22 17:56] ValentineRain commented on #133
Also this just came in from Mr. Krajewski:

[2017-11-22 17:57] ValentineRain commented on #132
A response from Jeff:

[2017-11-22 18:01] ValentineRain commented on #152
Works. Adding preview image, letting them review. Will leave thread open.

[2017-11-23 01:22] #145 closed

[2017-11-23 01:23] #144 closed

[2017-11-23 01:26] #113 closed

[2017-11-27 15:26] adavila17 commented on #132
I am going to need a minimum number of games and a max number of games then.

Thanks,

[2017-11-27 15:27] adavila17 commented on #130
@Aubron nag list.

[2017-11-27 15:57] kelvin-im commented on #133
Alright, the "Number of Players" has been moved underneath the Background step. The Media Manager didn't have the current Media Manager feature changes, causing the above issue. Branch has been updated now, so Media Manager should work.

Give it another go @ValentineRain.

[2017-11-27 16:38] ValentineRain commented on #39
These changes are in!

[2017-11-27 16:38] #39 closed

[2017-11-27 17:04] #86 closed

[2017-11-27 17:05] ValentineRain commented on #152
Will update when I hear back from them again.

[2017-11-27 17:05] ValentineRain commented on #151
Will update when I hear back from them again.

[2017-11-27 17:05] ValentineRain commented on #149
Will update when I hear back from them again.

[2017-11-27 17:37] ValentineRain opened #154 "Project Chell: Template for Automated Testing"
_But Val, aren't you breaking your own rules about restricting each thread to a single template? Yes, but *I am god here*. ⚡ Do as I say, not as I do._

## Requested by:

Internal, The Almighty Emoji Princess Val
Thou Shalt Not Be Publicly Viewable

## Template Description:

These templates will be part of a set, which is meant to include "one of everything". By that I mean, every possible feature

[2017-11-27 19:56] ValentineRain opened #155 "UNCW, Swimming Template"
## Requested by:

UNC-Wilmington, Tom Riordan
Public, Due January 6th

## Template Description:

## Dynamic Considerations:

Doesn't look like this one would require any dynamic shenanigans. Willing to entertain it though if you have any compelling ideas.

[2017-11-28 15:11] Aubron commented on #130
Template in engine, 729. Please review.

[2017-11-29 15:07] ValentineRain commented on #132
From Jeff!

[2017-11-29 19:50] marissab1 commented on #134
Update: still no response from John @Towson

[2017-11-29 20:20] ValentineRain commented on #133
So, this looks good! Let's shelve this until we can chat with @Aubron , though. I think we might need to develop an additional feature to make this future proof.

Basically, what's happening is that since the dynamic positioning dropdown is directly changing the canvas size, it's massively screwed whenever the user decides to adjust the canvas size manually. [Here's a video of this happening](http

[2017-11-29 20:20] ValentineRain commented on #133
Oh also @adavila17 was supposed to add that stat field which will necessitate some dev tweaks. I don't think that's happened yet.

[2017-11-29 23:39] adavila17 commented on #130
works. just need @ValentineRain to test.

[2017-11-30 16:20] marissab1 opened #156 "Pistons - Player of the Game Template"
## Requested by:

Detroit Pistons, Douglas Wernert
Private, Due December 4th
1 of 6 Prepaid

## Template Description:

![playerofthegame_jeep](https://user-images.githubusercontent.com/31700405/33441185-111d436e-d5c0-11e7-9642-352523c0dfc0.jpg)

[This is a link to the PSD file.](https://drive.google.com/a/imsports.com/file/d/1vDanNbw6Gi4_Q_hL3h-DvBnVxubUQUaP/view?usp=sharing)

[2017-11-30 16:20] marissab1 commented on #156
[](https://drive.google.com/a/imsports.com/file/d/1vDanNbw6Gi4_Q_hL3h-DvBnVxubUQUaP/view?usp=sharing)

[2017-11-30 16:25] marissab1 opened #157 "Pistons - Quote of the Night Template"
## Requested by:

Detroit Pistons, Douglas Wernert
Private, Due December 4th
2 of 6 Prepaid

## Template Description:

![quote-template_wired_1920x1080](https://user-images.githubusercontent.com/31700405/33441631-22a76816-d5c1-11e7-97c3-aeba4b21276b.jpg)

[This is a link to the PSD file](https://drive.google.com/a/imsports.com/file/d/1HEwhFKoNNmZeZZ5avpbCtcHzvrDeOPm7/view?usp=sharing)

[2017-11-30 18:53] adavila17 commented on #156
@ValentineRain test temp ID: 738

[2017-11-30 19:48] adavila17 commented on #157
@ValentineRain test temp ID: 739

[2017-12-01 19:56] ValentineRain commented on #157
This template works as intended. Two notes;

1. The transparency for our version is not as dramatic as the one in the preview image they asked for (note in the image below how it's mostly opaque by the time you reach the quotation marks. We might want to make that more pronounced if there isn't a reason we can't.

2. The default copy is sassy and I like that, but probably not appropriate for a bra

[2017-12-01 20:04] ValentineRain commented on #156
This one is pretty good but doesn't match their specs!
They're displaying a template with 2 background photo spaces, and we're giving them one with one background, and a clipped player cutout.

![pistons](https://user-images.githubusercontent.com/26412274/33500952-becc499a-d6a8-11e7-9242-d5941dd2a59c.png)

I do like the thought you put in by including a player cutout in this space if they need it!

[2017-12-01 20:15] ValentineRain commented on #156
Okay, I see what you mean now about the cutout space.
I don't like this solution so I'd like to revise this once you get the background polygon tool.

In that case, take a look at the right-hand side of that right-hand cutout, which is off just a few pixels on the edge. You can see a gap.

[2017-12-01 20:50] ValentineRain commented on #130
One weird bug which occurs with this one; you can resize the white smoke PNG, and some really weird stuff happens. You can do it with the full background, too.

I don't see any reason to delay the template over this, just wondering if you have any controls admin side that might prevent it. This probably happens with other multi background templates anyway.

If not, go ahead and add a preview image

[2017-12-02 00:24] adavila17 commented on #130
preview added not sure we can lock scaling. I'll look into it later.

[2017-12-02 00:29] adavila17 commented on #156
fixed adding preview. Someone needs to add category to client account and inform them template is ready.

[2017-12-02 00:34] adavila17 commented on #157
odd that second line was changed before i asked you to test to and another line. oh well must have forgotten to save. It's done also the opacity changes based on the background image.

adding preview category needs to be added to client and they also need to be informed the template is ready.

[2017-12-03 03:32] ValentineRain commented on #157
I'm going to go ahead and set up their category.
If @lisajohnson11 can let them know where to find it between now and EOD Monday, I'll go ahead and close this task!

Thanks Adam.

[2017-12-03 03:36] ValentineRain commented on #157
Hey actually, I don't know what's wrong with me, I've got their contact informaiton. I'll just go ahead and let them know, @lisajohnson11 !

[2017-12-03 03:36] ValentineRain commented on #156
Thanks. Category has been added. I'm going to reach out to them to let them know where to find it.

[2017-12-03 03:36] #156 closed

[2017-12-03 03:40] #157 closed

[2017-12-03 03:55] ValentineRain commented on #130
Cool, leaving this open til we know one way or another. I'll let Jeff know it's ready.

[2017-12-04 16:59] adavila17 commented on #133
this has been updated kelvin you'll need to do a hide/show thing to the new text fields that were added in I think.

[2017-12-04 17:15] kelvin-im commented on #133
The Stats text will hide/show when the user changes "Number of Players." Code doesn't need any changes; should still be good for testing.

[2017-12-04 18:56] ValentineRain commented on #133
Oh, that's right. I forgot that's the way this one works, nothing is being repositioned. Thanks for the reminder.

As per RTB this morning, we're leaving this one on hold til @Aubron gets back.

[2017-12-04 18:57] ValentineRain commented on #152
They're supposed to get back to me sometime this week. They're using the templates though and it sounds like they just want us to update them if we ever get the ability to apply filters to selective areas of an image. Closing for now.

[2017-12-04 18:57] #152 closed

[2017-12-04 18:57] ValentineRain commented on #151
They're supposed to get back to me sometime this week. They're using the templates though and it sounds like they just want us to update them if we ever get the ability to apply filters to selective areas of an image. Closing for now.

[2017-12-04 18:57] #151 closed

[2017-12-04 18:58] ValentineRain commented on #149
They're supposed to get back to me sometime this week. They're using the templates though and it sounds like they just want us to update them if we ever get the ability to apply filters to selective areas of an image. Closing for now.

[2017-12-04 18:58] #149 closed

[2017-12-04 18:58] ValentineRain commented on #153
I haven't received any complaints on this, though they've gone a little dark this week.
I'd like to push forward on this. Template ID?

[2017-12-04 18:59] ValentineRain commented on #130
Actually I'm going to go ahead and close this for now. If it becomes an issue we'll open a ticket. Nobody is going to try this.

[2017-12-04 18:59] #130 closed

[2017-12-04 19:01] ValentineRain commented on #47
This template has been in the engine since September. I didn't notice it because it has the dev flag on it.
I'm going to go ahead and close it. If there's anything we still need to gather to fine-tune this, please make a basecamp thread.

[2017-12-04 19:01] #47 closed

[2017-12-04 19:02] ValentineRain commented on #139
Hey, @lisajohnson11 , did we ever get approval for this? I'd like to move forward with testing.

[2017-12-04 19:03] ValentineRain commented on #134
@marissab1 , how's this looking?
Thread is stalling, mostly due to critique from the meetings but I'd like to push forward if possible.

[2017-12-04 19:05] ValentineRain commented on #120
Labeling for review. We're supposed to be thinking about this now.

[2017-12-04 19:07] ValentineRain commented on #122
Modified the wording. This is a public repo, please be careful of that.
Tagging for review because though I recall us looking at this before, I don't see any notes.

[2017-12-04 19:09] marissab1 commented on #134
@ValentineRain I haven't heard anything from Towson, I would agree on the push forward.

[2017-12-04 19:11] lisajohnson11 commented on #139
Sent an email to Zach just now. He's usually quick with response!

[2017-12-04 19:14] ValentineRain commented on #134
Cool, as the client requested, @adavila17 , let's push forward on something resembling the Ole Miss design, which hopefully will not require a great deal of dev work.

[2017-12-04 19:15] ValentineRain commented on #139
Thank you thank you.

[2017-12-04 19:21] adavila17 commented on #153
Temp ID: 731

[2017-12-04 19:28] adavila17 commented on #132
Hey @ValentineRain  because I feel like an ass for not getting this done (Soccer for Success work) I will be on it tomorrow adding in the remaining content. So just let the client know what's going on.

Thanks and sorry,

[2017-12-04 19:33] ValentineRain commented on #132
No need; you've got four days til the deadline.

[2017-12-04 19:56] ValentineRain commented on #153
This is good to go, please put a preview image on it.

[2017-12-04 20:23] lisajohnson11 commented on #139
Client approved!

[2017-12-04 20:23] lisajohnson11 commented on #139
@adavila17 can you send over a template ID when it's ready for @ValentineRain to test please. Thank you!

[2017-12-05 16:43] ValentineRain opened #158 "Arkansas Tech, Basketball StatShot"
## Requested by:

Arkansas Tech, Requester Kind of Unclear
Public

## Template Description:

We were looking to create a new basketball stat graphic anyway. @adavila17 can take care of this; obviously we'll need to make this request distinct. You've got creative license~

## Dynamic Considerations:

It's a stat graphic, so any charts or graphs will need that development touch.
I'm also assuming we

[2017-12-05 16:52] #153 closed

[2017-12-05 20:16] ValentineRain opened #159 "Beach Volleyball?!"
## Requested by:

UNCW, Tom Riordan
Public

## Template Description:

Uh, this could go in ... in Volleyball I think?

## Dynamic Considerations:

N/A

## Additional Materials

[Here's a link to his PSD file.](https://drive.google.com/a/imsports.com/file/d/15phbWs8jJd-8zKg7uPbyOBEBKLOTBo1s/view?usp=sharing) We might consider putting our own spin on it instead, since he isn't requesting it to-order

[2017-12-05 20:29] ValentineRain commented on #159
Hey @adavila17 , can confirm client has specified this one is public.
[He also gave us this second PSD](https://drive.google.com/a/imsports.com/file/d/1lTWN2ckFD7QGgC9p6ebrfz4gLYb8FT7j/view?usp=sharing) which is a little more filled out. Maybe this will help you?

This might need some dynamic shenanigans after all. I will reserve judgement until I see your version.

[2017-12-06 16:49] adavila17 opened #160 "Golf ScoreShot"
Any comments? template only took like 5 mins to create on the back end.

![ss_golf_scoreshot_v1](https://user-images.githubusercontent.com/26416133/33673651-5facab40-da7b-11e7-96ae-e92d8c2c8545.jpg)

[2017-12-07 14:48] adavila17 commented on #132
Ready for dev. Temp ID: 741

Couple things here it needs to be dynamic with a drop-down labeled "number of games" and a selector of 3-15 games.

Additionally, we need checkboxes for denoting home games. If there is a home game then the element labeled "brush #" will remain behind the date when the box is selected. How we will label this to the client is Game 1 checkbox above Game 1 all the way to

[2017-12-07 14:58] adavila17 commented on #132
@ValentineRain if you want to send this over and let them give a final judgment that's cool.

![louisiana-lafayette-schedule-v7](https://user-images.githubusercontent.com/26416133/33721482-22c98e68-db35-11e7-87f5-fe82837e9083.jpg)

[2017-12-07 14:58] adavila17 commented on #132
I'm not filling out anymore than I need to because if I did they wouldn't need to create anything.

[2017-12-07 15:02] ValentineRain commented on #132
Here are the specs for what Adam is describing:

- The dynamic step for this template will contain 16 items total.

- The first item is the usual "Number of games" dropdown, which shows or hides the accompanying logo and text space.

- The fifteen items which follow will each be a show/hide checkbox, which we've never done before. Each will be labeled "Brush" followed by the number it corresponds

[2017-12-07 15:03] ValentineRain commented on #132
@adavila17 , I actually already sent it to him for approval once and he said he liked the direction.
If it's all the same to you I'd prefer not set a precedent for multiple reviews.

[2017-12-07 15:05] kelvin-im commented on #132
Starting on this now.

[2017-12-07 16:26] kelvin-im commented on #132
Dynamicized. Ready for testing/review @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/430

[2017-12-07 21:14] adavila17 commented on #132
Close but wrong @ValentineRain "Brush #" referred the what I named the layer so the dev team knew what to hide/show. The naming convention that should be next to each checkbox is Game 1, Game 2, Game 3.... Game 15.

[2017-12-11 12:34] adavila17 commented on #132
@kelvin-im sorry forgot to change the tag..... 💩

[2017-12-11 13:47] adavila17 commented on #159
Well, that font cost $199 for one user sooo........ they'll just have to change it on their end.

[2017-12-11 13:57] kelvin-im commented on #132
The checkboxes were labeled "Game #1, Game #2, etc."; but I've slightly modified the labels according to above specs. Ready for review/testing @ValentineRain.

[2017-12-11 14:14] adavila17 commented on #159
@Aubron another template with an overlay png on the background step. We will need you to replace the template coming out of the admin side with the template saved in the library as "beach volleyball".

Thanks,

[2017-12-11 14:16] adavila17 commented on #132
👍

[2017-12-11 16:41] ValentineRain commented on #132
Hey @kelvin-im , this looks good to me! I would be comfortable turning this over to the Cajuns in its current state, for sure.

I do have one question though; is it possible to hide those brush effects, even the ones that are checked, when the dropdown for game number is less than its position? That way the user doesn't have to manually uncheck boxes which are checked.

If this would be an annoyin

[2017-12-11 16:50] kelvin-im commented on #132
Should be able to do that programmatically. Working on it now.

[2017-12-11 17:02] kelvin-im commented on #132
Alright, brush marks should be hidden now when loaded. @ValentineRain, give it another go around with testing.

[2017-12-11 17:05] ValentineRain commented on #132
Wow, that was super fast! Thanks. I'll take a look shortly.

[2017-12-12 15:08] marissab1 opened #161 "Notebook Style Athlete Spotlight"
## Requested by:

John Brush with Towson
## Template Description:

## Dynamic Considerations:

## Additional Materials

Provided by John as a reference
![dqjyglswsaaak7t jpg large](https://user-images.githubusercontent.com/31700405/33891487-154a3510-df24-11e7-8b10-cb86a2200c14.jpg)

[2017-12-12 19:58] ValentineRain opened #162 "MLL, Collegiate Draft Template"
## Requested by:

Major League Lacrosse, Dan Ventresca
Public template, Due February 1

## Template Description:

Requested today in a conference with myself and Adam.
This Draft template should provide "room for text", including name, position, and what college they're from.

No special requests on design, so have fun with it, Adam!
We'll probably make a duplicate of this template for MLL so we c

[2017-12-12 20:04] ValentineRain opened #163 "MLL, Variants to Breaking News, Special Announcements"
## Requested by:

Major League Lacrosse, Dan Ventresca
Public, Due February 1

## Template Description:

From today's conference along with Adam.

He wants a new look on templates 454, 455, and 456. We're going to make variants so we don't impact other people's workflow.
Adam gets creative license, so have fun with it!

## Dynamic Considerations:

N/A

## Additional Materials

These are the origin

[2017-12-12 20:06] ValentineRain opened #164 "MLL, 712 Variation"
## Requested by:

Major League Lacrosse, Dan Ventresca
Public, Due February 1

## Template Description:

From today's conference along with Adam.
Dan would like a variant of template 712, some kind of logo centric preview image.

You know lots about the needs of lacrosse, so take it away and let's see what you've got.

## Dynamic Considerations:

N/A

## Additional Materials

![712](https://user-i

[2017-12-13 13:28] adavila17 commented on #132
@kelvin-im

So when we reduce the number of games from 15 to 14 let's make sure each row has an even number. 7 top & 7 bottom.

13 games 7 top and 6 bottom.
12 games 6 top and 6 bottom.
.....
...
..
.
7 games 4 top and 3 bottom.

Just keep the pattern going all the way down to 6 games which will then have logos/text/brush in a single row.

[2017-12-13 13:52] kelvin-im commented on #132
@adavila17, the easiest way to have that effect is if those elements are re-numbered in the template. If the game elements and brush marks are re-numbered (like top 1, bottom game 2, top game 3, etc.), the code will give out the effects you want above.

[2017-12-14 18:27] ValentineRain commented on #133
Hey @kelvin-im , I met with @Aubron and we're going to push forward on the solution of disabling manual template resizing on templates with dynamic elements that do so.

- Add a flag to the statshot for "Can Resize"
- On false, this should hide template resizing.

If I catch you before I leave, we can chat about this but otherwise look to Aubron for guidance on this one!

[2017-12-14 18:36] Aubron commented on #133
@ValentineRain - I went ahead and did this. Same PR.

[2017-12-14 19:19] ValentineRain commented on #133
Hey, looks good! Let's merge it.
It will need a preview image, as well.

If this is done before EOD I can deliver to Mr. Krajewski and tie a bow on this.

[2017-12-14 22:23] adavila17 commented on #133
let me know when merged.

[2017-12-18 02:04] rocksprings commented on #160
I think this looks great, Adam.
But maybe spell Michael with the "a" before the "e."
Can we get this live in the engine by end of day, Wednesday for our PGA Tour demo?
Rick

[2017-12-18 15:46] adavila17 commented on #160
updated here.

![ss_golf_scoreshot_v2](https://user-images.githubusercontent.com/26416133/34114415-bd433cb0-e3e0-11e7-83aa-098117d37131.jpg)

[2017-12-18 15:47] adavila17 commented on #160
@Aubron test temp ID: 740

[2017-12-18 17:12] rocksprings commented on #160
Grassy ass.

[2017-12-19 18:50] Aubron commented on #160
Testing complete, looks good. 👍

[2017-12-19 18:50] Aubron commented on #133
@adavila17 - is merged.

[2017-12-19 20:20] rocksprings commented on #160
Demo is Thursday at 11:30.
Can we have this live in the engine sometime tamale?

[2017-12-20 02:22] adavila17 commented on #160
preview added.

[2017-12-20 02:24] adavila17 commented on #133
preview added

[2017-12-21 12:54] adavila17 commented on #139
Test Temp ID: 743

[2017-12-21 13:34] adavila17 commented on #143
Temp ID: 744

Need to make this dynamic with a drop down named as "Number of Sets" and a list going from 1 set to 5 sets.

If 3 sets then hide sets 4 and 5.

[2017-12-21 13:35] adavila17 commented on #143
@lisajohnson11  this is with dev.

[2017-12-21 13:39] #160 closed

[2017-12-21 13:40] #133 closed

[2017-12-21 13:43] Aubron commented on #139
Tested.

[2017-12-21 13:48] Aubron commented on #159
Done. add ur preview image.

[2017-12-21 14:23] adavila17 commented on #159
Preview added

[2017-12-21 14:28] adavila17 commented on #139
preview added.

[2018-01-02 15:53] ValentineRain commented on #159
Client has been contacted. Closing!

[2018-01-02 15:53] #159 closed

[2018-01-02 15:56] ValentineRain commented on #139
Client contacted, closing!

[2018-01-02 15:56] #139 closed

[2018-01-02 15:56] ValentineRain commented on #37
Another poke for @adavila17 , how's this cooking?

[2018-01-03 16:12] ValentineRain opened #165 "Happy Birthday Template"
## Requested by:

Internal, Requested by Marissa and Rick.
No due date posted, but this one will be good year-round for obvious reasons.

## Template Description:

## Dynamic Considerations:

Probably none.

## Additional Materials

![preview-full-happybirthdaypost2](https://user-images.githubusercontent.com/26412274/34528446-fb81196e-f076-11e7-8cae-e34f7ddf8ce9.png)
![preview-full-happybirthdaypo

[2018-01-03 16:14] ValentineRain opened #166 "Milestone Template"
## Requested by:

Internal, Marissa, and maybe Rick.
No date provided, but can be used year-round.

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

![preview-full-numberofwins2](https://user-images.githubusercontent.com/26412274/34528543-3a551fbe-f077-11e7-865f-cbc65e0c6aff.png)
![preview-full-numberofwins](https://user-images.githubusercontent.com/26412274/3452

[2018-01-03 16:14] ValentineRain commented on #166
Will need to get approval on this one before pushing forward.

[2018-01-04 15:16] ValentineRain opened #167 "Weekly Schedule Template"
## Requested by:

Patrick Hamilton, DeKalb High School
Due date and visibility pending.

## Template Description:

## Dynamic Considerations:

Unknown currently.

## Additional Materials

![img_2239](https://user-images.githubusercontent.com/26412274/34569921-403494c0-f138-11e7-918a-bb7f88f9871a.PNG)

[2018-01-04 15:16] ValentineRain commented on #167
This isn't enough information to build a template, so I sent back the following:

Good morning, Mr. Hamilton!

Will update when we receive a response.

[2018-01-04 17:26] ValentineRain commented on #167
Here's the rest of the information he provided.

[2018-01-10 20:27] ValentineRain opened #168 "Ragin' Cajuns, Event Counter"
## Requested by:

Louisiana Lafayette, Jeff Schneider
Public/Private TBA
Due date "immediately"

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

![50 days graphic](https://user-images.githubusercontent.com/26412274/34793801-97ce4ae6-f61a-11e7-86eb-8abb6ef010e3.jpg)

[2018-01-10 20:27] ValentineRain commented on #168
The common theme we'll find in these is that they'll need to be edited substantially to differ from the originals.

[2018-01-10 20:29] ValentineRain opened #169 "Ragin Cajuns, Quote Variant"
## Requested by:

Louisiana Lafayette, Jeff Schneider
Public/Private TBA
Due date "immediately"

## Template Description:

## Dynamic Considerations:

N/A

## Additional Materials

![unnamed](https://user-images.githubusercontent.com/26412274/34793906-f43dd828-f61a-11e7-9fdc-95cbb6c11448.jpg)

[2018-01-10 20:30] ValentineRain opened #170 "Ragin Cajuns, Gameday for Baseball"
## Requested by:

Louisiana Lafayette, Jeff Schneider
Public/Private TBA

## Template Description:

Here is the gameday graphic.

My thoughts are that you provide the background look with the solid color and lines to where the colors can be changed, for example if I wanted the blue are to change to white and the home plates to change to blue I could easily go back and forth between the two. Other

[2018-01-10 20:32] ValentineRain opened #171 "Ragin Cajuns: Branded Baseball Lineup"
## Requested by:

Louisiana Lafayette, Jeff Schneider
Private, Due February.

## Template Description:

## Dynamic Considerations:

I don't think this requires any, though I'm open to challenge on this.

## Additional Materials

[2018-01-10 20:34] ValentineRain opened #172 "Ragin Cajuns Score Update for Baseball"
## Requested by:

Louisiana Lafayette, Jeff Schneider
Public/Private TBA

## Template Description:

Again a simple score update graphic, for our purposes would would only need to update headed into the top of the inning, but it might be useful to have it where you can signify top of bottom of an inning. I would keep a logo where they have the College World Series graphic because that could be used

[2018-01-10 20:44] ValentineRain commented on #170
Updated with new information regarding sharing. This template will be branded.

[2018-01-10 20:44] ValentineRain commented on #172
Updated with new information regarding sharing. This template will be branded.

[2018-01-10 20:44] ValentineRain commented on #171
Updated with new information regarding sharing and due dates. This template will be branded.

[2018-01-10 20:45] ValentineRain commented on #171
Closed and reopened because I'm an idiot.

[2018-01-11 18:30] ValentineRain commented on #120
This is from Baldwin Wallace, Jeff Miller.

[2018-01-11 18:38] ValentineRain commented on #120
Target date is by end of the month.

[2018-01-11 18:43] ValentineRain commented on #127
This one will require some fancy development work.

[2018-01-11 18:51] ValentineRain commented on #167
Lower than low priority. Ignore his graphic, make something better.

[2018-01-11 19:10] adavila17 commented on #169
@ValentineRain write a quote.

[2018-01-11 19:22] ValentineRain commented on #169
"I especially want to thank my coach for always pushing me, and forgiving my mistakes. I'm sorry I broke that urn in your office." - Jackson Donald, Jr.

[2018-01-11 19:22] ValentineRain commented on #169
I don't actually think you should use that.

[2018-01-11 19:26] adavila17 commented on #169
Poetic.

[2018-01-11 19:40] adavila17 commented on #169
![ss_mediarelations_quoteshot5_rect](https://user-images.githubusercontent.com/26416133/34843737-54c87316-f6dd-11e7-8eb8-e31cc43dca9b.jpg)

[2018-01-11 19:40] adavila17 commented on #169
I mean I could find a more attractive background by do I want to....... nah.

[2018-01-11 20:29] adavila17 commented on #168
![ss_mediarelations_previewshot1](https://user-images.githubusercontent.com/26416133/34845806-29bffba6-f6e4-11e7-9b41-4195b9887d3f.jpg)

[2018-01-11 20:33] ValentineRain commented on #168
Sent to Jefferooni

[2018-01-11 20:34] ValentineRain commented on #169
Sent to Jeff.
Asked him if he wants to provide the sample quote, just for funsies.

[2018-01-11 20:47] ValentineRain commented on #169
Approved. Here's your quote:

That will sort of necessitate changing the hashtag and stuff, but I think it'd be really funny if we attribute it to him, too. So I'm all for it.

[2018-01-12 15:07] kelvin-im commented on #143
Dynamics are in. Ready for review/testing @ValentineRain.

PR: https://github.com/Aubron/scoreshots/pull/455

[2018-01-12 15:33] adavila17 commented on #169
@ValentineRain test temp ID: 745

[2018-01-12 16:08] adavila17 commented on #168
This has a colorable png overlay so take library template named "flag template" and overwrite template ID: 746.

[2018-01-12 17:03] ValentineRain commented on #143
No problems with the dynamic elements of this template! I think we can merge this thing, but one item which @adavila17 will need to review; there's nothing behind the top and bottom of these templates, such that if it is ever resized, there will be a gap (check the corners).

![untitled](https://user-images.githubusercontent.com/26412274/34886318-a62cc53c-f790-11e7-8664-30c2961c9777.png)

I think

[2018-01-12 17:32] adavila17 commented on #155
ready for client review.

![ss_swim_finalshot5](https://user-images.githubusercontent.com/26416133/34887466-a57656a4-f794-11e7-8f1a-efa74701a0eb.jpg)

[2018-01-12 18:35] ValentineRain commented on #155
Sent for approval!

[2018-01-12 18:40] ValentineRain commented on #155
Client approved. That was lightning quick. He has one observation which he did not necessarily ask us to fix, but might be a good idea.

[2018-01-12 18:51] ValentineRain commented on #169
Thanks Adam. You forgot to set the default fonts, though;

![quote](https://user-images.githubusercontent.com/26412274/34890396-ba62cad8-f79f-11e7-90bb-4603f5eb21b0.png)

Fix that and it's good to go!

[2018-01-12 18:55] ValentineRain commented on #168
I'm assuming this is an @Aubron request.

[2018-01-12 19:23] adavila17 commented on #161
notebook shot ready for client review.

![ss_media_playershot8](https://user-images.githubusercontent.com/26416133/34891605-259357ce-f7a4-11e7-88d7-d7f8778e2fa6.jpg)

[2018-01-12 19:33] adavila17 commented on #155
This is going to need Aubron to override the backend copy of the template with a library saved version of the template when it's done/before I can add a preview image.

[2018-01-12 19:50] adavila17 commented on #155
Please replace template ID: 747 with saved library template named "swim template".

[2018-01-12 20:01] adavila17 commented on #169
I'll have to send the font file to Aubron to add in because we don't have them for the client to use.

[2018-01-12 20:03] ValentineRain commented on #155
I think this is going to be a Monday thing, it looks like we're pretty tied up here!

[2018-01-12 21:13] adavila17 commented on #168
yeah

[2018-01-16 18:08] adavila17 commented on #169
preview added.

[2018-01-16 18:17] adavila17 commented on #168
added preview

[2018-01-16 18:44] marissab1 commented on #120
![img_1174](https://user-images.githubusercontent.com/31700405/35005959-3e5ca658-fac3-11e7-8a3b-d625e1868241.jpg)
![img_1175](https://user-images.githubusercontent.com/31700405/35005963-3fea1cf8-fac3-11e7-997c-056b01bafdab.jpg)

[2018-01-16 18:53] adavila17 commented on #165
![ss_birthday_template](https://user-images.githubusercontent.com/26416133/35006409-971da12e-fac4-11e7-8e0f-e6efee29d8f0.jpg)

[2018-01-16 19:45] ValentineRain commented on #169
Thanks for taking care of that. We're going to need to make a few adjustments to this after we can access the backend again.

[Here is a link to the font file](https://drive.google.com/file/d/1W75EOdS9P3R84RgSTiUASxzHhHUDIFR7/view?usp=sharing) that will need to be added to the system, and then separately set by the design team to be used in the template itself.

[2018-01-16 19:53] ValentineRain commented on #168
Thanks Adam. As with the other Ragin' Cajun template, we're going to need to make a few adjustments to this after we can access the back-end again.

Essentially, the library file quoted above will need to replace the the current template ID for this item. It should be tested again to make sure nothing broke.

[2018-01-17 18:03] adavila17 commented on #155
this is live.

[2018-01-17 18:09] ValentineRain commented on #155
Great, thanks a ton @adavila17 !

Once our maintenance freeze is lifted, we will need to return to this template to manually add a version of the PNG overlay which can be colored by the client. Adjusting the labels and leaving it open for now.

[2018-01-17 20:52] adavila17 commented on #158
been working on this for the last hour still in progress.

![statshot](https://user-images.githubusercontent.com/26416133/35066398-70805522-fb9e-11e7-9055-ba67d7f3c80a.jpg)

[2018-01-17 21:41] ValentineRain commented on #158
I like how it's coming along :D

[2018-01-18 15:57] adavila17 commented on #158
Just FYI the one Paul gave us is a box out sports design..... along with the Creighton one in the other GitHub thread for a second basketball statshot template.

Good thing is I'm coming up with something completely different.

[2018-01-18 16:01] adavila17 commented on #120
Let's be careful when we research to not add in competitor designs. The Creighton one is a Box Out Sports design.

[2018-01-18 16:46] adavila17 commented on #158
ready for review.

![ss_basketball_statshot_v2](https://user-images.githubusercontent.com/26416133/35109767-4504da7e-fc45-11e7-8ab1-3724753be543.jpg)

[2018-01-18 16:47] marissab1 commented on #161
Approved by client

[2018-01-18 16:52] adavila17 commented on #143
We already have a square version of this template the task was to make a poster variation because our resizing tool fails. And here it is failing to do the opposite poster to a square.

[2018-01-18 17:09] marissab1 commented on #120
@adavila17 I mentioned in the last template meeting that one of the examples I saw was a Box Out template and I was not told to not put it in, but I will take note for the future.  Thank you.

[2018-01-18 18:51] adavila17 commented on #162
@ValentineRain I'd forward these as soon as they come in.

![ss_mll_drafttemplate_v1](https://user-images.githubusercontent.com/26416133/35115565-a671bd16-fc56-11e7-811c-d41d9e6aa18c.jpg)

[2018-01-18 20:19] adavila17 commented on #164
@ValentineRain this is ready to send off also.

![ss_mll_previewshot_v1](https://user-images.githubusercontent.com/26416133/35119440-eed7b91e-fc62-11e7-998e-fbbd5ce19e40.jpg)

[2018-01-18 21:07] ValentineRain commented on #164
Sent!

[2018-01-18 21:07] ValentineRain commented on #162
Approved!

[2018-01-19 14:51] adavila17 commented on #163
Send over right meow!

![ss_mll_newsocialshot_v1](https://user-images.githubusercontent.com/26416133/35156260-4e9cccfe-fcfe-11e7-85bc-66db9c325308.jpg)

[2018-01-19 16:31] adavila17 commented on #163
another one style.

![ss_mll_newsocialshot_v2](https://user-images.githubusercontent.com/26416133/35160826-55bc9de4-fd0c-11e7-9bba-b92e5e899817.jpg)

[2018-01-19 17:23] ValentineRain commented on #120
I'd actually like to question that call. @adavila17 , isn't it _your_ job to make sure the designs are dissimilar when you make them? Our clients know no such limitations, so they'll probably be sending us things from competitors directly at some point. So I don't really think it's fair to have that expectation of Marissa.

Just my $00.02

[2018-01-19 17:25] ValentineRain commented on #143
Hm, that's a fair point @adavila17 . I concede.
I'm tagging this for a merge!

[2018-01-19 17:26] ValentineRain commented on #158
"Johnnie Tran" has got a _smolder_ on him. Whoo.

[2018-01-19 21:25] Aubron commented on #168
I performed the adjustment, but I do think it's not functioning as intended. It works though, so I'm not going to pull it, but @adavila17 should review.

[2018-01-19 21:27] Aubron commented on #155
I've performed the replacement. Needs retesting.

[2018-01-19 21:28] Aubron commented on #143
Merged. Will go out with monday deployment.

[2018-01-20 00:58] adavila17 commented on #166
![ss_mediarelations_playershot](https://user-images.githubusercontent.com/26416133/35178049-19072c38-fd53-11e7-8e8f-8177b81bb9b8.jpg)

[2018-01-22 12:42] adavila17 commented on #163
@Aubron override template ID: 753 with saved library template labeled "MLL special 1".

[2018-01-22 12:53] adavila17 commented on #163
@Aubron override template ID: 754 with saved library template labeled "MLL special 2".

yes, there are two templates in one thread.

[2018-01-22 13:24] adavila17 commented on #155
I'm realizing that I may have to create a new template. To do these templates that have editable overlays I create two background layers one called "Background Image" and the other called "Overlay" which sits on top of the background image layer. To do our band-aid I deleted the overlay layer and added a .png meaning user cannot edit and change the color of the overlay.

[2018-01-22 13:59] adavila17 commented on #162
Just need some font loaded into the library to complete.

[2018-01-22 14:28] adavila17 commented on #162
@aubron override template ID: 755 with saved library template labeled "MLL draft".

[2018-01-22 15:16] adavila17 commented on #164
@Aubron override template ID: 756 with saved library template labeled "mll preview".

[2018-01-22 16:35] lisajohnson11 commented on #143
Hi, I'm still in a holding pattern to tell the client correct?

[2018-01-22 17:08] ValentineRain commented on #143
Actually, as of this morning, it's in the engine. @adavila17 just needs to add a preview image; he said it'll be in volleyball with the original.

@adavila17 , if you could update us when that's done, @lisajohnson11 will be good to contact the client and we can clear this one off.

[2018-01-22 18:44] adavila17 commented on #143
![ss_volleyball_previewshot_poster](https://user-images.githubusercontent.com/26416133/35238055-5b6fc70a-ff7a-11e7-94d8-6d179d5678c3.png)

[2018-01-22 20:50] #143 closed

[2018-01-23 21:02] lisajohnson11 opened #173 "Madonna Player Spotlight"
## Requested by: Madonna and it's public

## Template Description:
  They'd like these to go into the queue :) They were really great about the turnaround time so I'm not super worried about getting these pushed out quickly.
 No preferred date.

## Dynamic Considerations:
 I'm not sure, but I don't believe so.

## Additional Materials

![screen shot 2018-01-23 at 4 01 06 pm](https://user-images.gi

[2018-01-23 21:02] lisajohnson11 commented on #173
I also have a PSD file if needed here https://drive.google.com/drive/folders/1xHKuA7dgAfLJkenoPMcBgFCgYSBPVVY1?usp=sharing

[2018-01-23 21:04] lisajohnson11 opened #174 "Madonna Gameday Template"
## Requested by: Madonna and public

## Template Description:

 Anytime :)

## Dynamic Considerations:
 Nope! It's just a vertical variation of a template we already have!

## Additional Materials

![screen shot 2018-01-23 at 4 03 51 pm](https://user-images.githubusercontent.com/26416040/35300634-0abb5bac-0057-11e8-815e-2909798da716.png)

[2018-01-24 15:45] adavila17 commented on #172
![ss_ull_baseball_snapshotv2](https://user-images.githubusercontent.com/26416133/35341418-a6f9ccfa-00f3-11e8-9709-b006f2291c0e.jpg)

[2018-01-24 16:19] ValentineRain commented on #172
Thanks, I'll send this his way.

[2018-01-24 17:45] adavila17 commented on #172
Ready again.

![ss_ull_baseball_snapshotv3](https://user-images.githubusercontent.com/26416133/35347884-6e493bb4-0104-11e8-8403-544c50a3d875.jpg)

[2018-01-24 18:59] ValentineRain commented on #155
Fails regression testing. The overlay Adam wanted has been added as a default background with no second space. Otherwise it does look like it might have worked?

![swimming template](https://user-images.githubusercontent.com/26412274/35351393-c6b8df20-010e-11e8-807a-108cb52b2215.png)

[2018-02-20 21:32] Aubron commented on #69
@ValentineRain - please pick this up in whatever from you need to and close PR 390

[2018-07-12 20:04] rocksprings opened #175 "Template Swapping with Add Logo Button"
## Requested by:
Rick

## Template Description:
Any/all templates

Logos will not transfer if a user selects "Add Logo" and then swaps template. Maybe this is something to address down the road.

[2018-07-13 14:40] rocksprings opened #176 "Logo Duplication Issue"
## Requested by:
Rick Perko

## Template Description:
Noted in the attached.

## Dynamic Considerations:
Replicated on my computer and the one in the conference room.
![ss logo problem](https://user-images.githubusercontent.com/26558545/42697454-266baccc-8689-11e8-9bc7-7ab631c5ed45.JPG)

## Additional Materials

[2018-07-13 14:42] rocksprings opened #177 "Undo Logo Shrinks SS Size"
## Requested by:
Rick Perko

## Template Description:
Please see attached.

## Dynamic Considerations:

![ss undo logo](https://user-images.githubusercontent.com/26558545/42697551-68e579d4-8689-11e8-9ccf-b324daee934a.JPG)

## Additional Materials

[2018-07-13 14:43] rocksprings opened #178 "Colorize Filter Over Background Image Moves Image"
## Requested by:
Rick Perko

## Template Description:
Please see attached.
![colorize filter bug](https://user-images.githubusercontent.com/26558545/42697604-982493a6-8689-11e8-8456-110de412f587.JPG)

## Dynamic Considerations:

## Additional Materials